<!DOCTYPE html>

<html lang="ja">

  <head>

    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Varia Free</title>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/reset.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/common.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/shop02.css') }}">

    <!-- google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+New:wght@500&display=swap" rel="stylesheet">

    <!-- JQuery本体 CDN -->
    <script src="https://code.jquery.com/jquery-2.2.4.js" integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI=" crossorigin="anonymous"></script>

    <!-- jquery実行ファイル -->
    <script type="text/javascript" src="js/common.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css">
    
  </head>

  <body>
    
    <nav id="main-nav">
      <div class="main-nav-box">
        <div class="left-nav">
          <figure id="prof_icon">
            <a class="" href="{{ url_for('MyPage') }}">
              {% if icon != None %}
              <!-- css -->
              <img src="../{{ icon }}" id="profile-image" alt="プロフィール画像">
              {% elif icon == None %}
              <!-- css -->
              <img src="../static/images/icon/default_icon.png"  id="profile-image" alt="初期画像">
              {% endif %}
            </a>
          </figure>
          <p>{{ UserName }}様</p>
        </div>

        <figure>
          <a href="{{ url_for('IndexPage') }}"><img src="../static/images/title111.svg"></a>
        </figure>
        <div class="right-nav">
          <ul>
            <!-- <li class="underline"><a href="" id="hoverButton">テーブル</a></li> -->
            <li class="underline"><p id="hoverButton">カテゴリ</p></li>
            <li class="underline"><a class="nav-maypage" href="{{ url_for('MyPage') }}">マイページ</a></li>
            <li><img id="navbtn" src="../static/images/magnifying-glass-light.svg"></li>
            <!--<li><a href="{{ url_for('FavoritePage') }}"><img src="../static/images/heart-light.svg"></a></li>-->
            <li><a href="{{ url_for('FavoritePage') }}"><img class="book-mark" src="../static/images/bookmarks-light.svg"></a></li>
            <li><a class="nav-sell" href="{{ url_for('SellPage') }}" id="btn">出品</a></li>
          </ul>
        </div>
      </div>
    </nav>


    <div class="search-box">
      <img id="closebtn" src="../static/images/x01.svg">
      <!-- <img id="closebtn" src="images/x.svg"> -->
      <div class="search-wrap">
        <div class="search-title">
          <h1>SEARCH</h1>
          <p class="sub-sea">商品を探す</p>
        </div>
        <form action="/search"  method="post" class="search-form-4">
          <label>
            <button type="submit"></button>
            <input type="text" name="search_word" id="searchInput" autocomplete="off" placeholder="お探しの商品・キーワードをご入力ください">
            <!-- <button type="submit">検索</button> -->
          </label>
        </form>
      </div>

      <form action="/search" method="post">
        <ul>
          {% for word in words %}
          <li>
            <!-- <button type="submit" value="{{ word }}" name="delete">&#10005;</button> -->
            <button type="submit" value="{{ word }}" name="search_word">{{ word }}</button>
          </li>
          {% endfor %}
        </ul>
      </form>
    </div>

    <div class="cate-box">
      <img id="cate_closebtn" src="../static/images/x01_cate.svg">
      <div class="cate-wrap">
        <div class="cate-title">
          <h1>CATEGORY</h1>
          <p class="sub-cate">商品を探す</p>
        </div>
        <div class="tab">
          <ul class="tab-list">
            <li class="tab-list-item is-btn-active">レディース</li>
            <li class="tab-list-item">メンズ</li>
            <li class="tab-list-item">インテリア/家電</li>
            <li class="tab-list-item">ホビー</li>
            <li class="tab-list-item">その他</li>
          </ul>

          <!-- コンテンツを構成するブロック -->
          <div class="tab-contents-wrap">

            <form action="/category_search" method="post">
              <div class="tab-contents is-contents-active">
                <div class="women-box">
                  <ul>
                    <li class="m-cate01">
                      <p class="cateTitle">レディース</p>
                      <!-- <div class="s-category">
                        <span>トップス</span>
                        <span>パンツ</span>
                        <span>シューズ</span>
                        <span>バッグ</span>
                        <span>アクセサリー</span>
                        <span>ファッション小物</span>
                      </div> -->
                      <div class="s-category">
                        <span><button type="submit" name="select" value="1">トップス</button></span>
                        <span><button type="submit" name="select" value="3">パンツ</button></span>
                        <span><button type="submit" name="select" value="5">シューズ</button></span>
                        <span><button type="submit" name="select" value="7">バッグ</button></span>
                        <span><button type="submit" name="select" value="9">アクセサリー</button></span>
                        <span><button type="submit" name="select" value="11">ファッション小物</button></span>
                      </div>
                    </li>
                    <li class="m-cate02">
                      <p class="cateTitle">ベビー・キッズ</p>
                      <div class="s-category">
                        <span><button type="submit" name="select" value="13">ベビー服</button></span>
                        <span><button type="submit" name="select" value="14">キッズ服</button></span>
                        <span><button type="submit" name="select" value="15">キッズシューズ</button></span>
                      </div>
                    </li>
                    <li class="m-cate03">
                      <p class="cateTitle">コスメ/香水/美容</p>
                      <div class="s-category">
                        <span><button type="submit" name="select" value="32">スキンケア</button></span>
                        <span><button type="submit" name="select" value="33">ボディケア</button></span>
                        <span><button type="submit" name="select" value="34">ヘアケア</button></span>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>

              <div class="tab-contents">
                <div class="men-box">
                  <ul>
                    <li class="m-cate01">
                      <p class="cateTitle">メンズ</p>
                      <div class="s-category">
                        <span><button type="submit" name="select" value="2">トップス</button></span>
                        <span><button type="submit" name="select" value="4">パンツ</button></span>
                        <span><button type="submit" name="select" value="6">シューズ</button></span>
                        <span><button type="submit" name="select" value="8">バッグ</button></span>
                        <span><button type="submit" name="select" value="10">アクセサリー</button></span>
                        <span><button type="submit" name="select" value="12">ファッション小物</button></span>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>

              <div class="tab-contents">
                <div class="day-box">
                  <ul>
                    <li class="m-cate01">
                      <p class="cateTitle">インテリア/住まい/小物</p>
                      <div class="s-category">
                        <span><button type="submit" name="select" value="17">キッチン/食器</button></span>
                        <span><button type="submit" name="select" value="18">家具/収納</button></span>
                        <span><button type="submit" name="select" value="19">カーペット</button></span>
                        <span><button type="submit" name="select" value="20">カーテン</button></span>
                        <span><button type="submit" name="select" value="21">ライト</button></span>
                        <span><button type="submit" name="select" value="22">インテリア小物</button></span>
                      </div>
                    </li>
                    <li class="m-cate02">
                      <p class="cateTitle">家電/スマホ/カメラ</p>
                      <div class="s-category">
                        <span><button type="submit" name="select" value="35">スマートフォン</button></span>
                        <span><button type="submit" name="select" value="36">PC</button></span>
                        <span><button type="submit" name="select" value="37">カメラ</button></span>
                        <span><button type="submit" name="select" value="38">テレビ</button></span>
                        <span><button type="submit" name="select" value="39">オーディオ</button></span>
                        <span><button type="submit" name="select" value="40">生活家電</button></span>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>

              <div class="tab-contents">
                <div class="hobby-box">
                  <ul>
                    <li class="m-cate01">
                      <p class="cateTitle">おもちゃ/ホビー/グッズ</p>
                      <div class="s-category">
                        <span><button type="submit" name="select" value="27">おもちゃ</button></span>
                        <span><button type="submit" name="select" value="28">コミック/アニメグッズ</button></span>
                      </div>
                    </li>
                    <li class="m-cate02">
                      <p class="cateTitle">本/音楽/ゲーム</p>
                      <div class="s-category">
                        <span><button type="submit" name="select" value="23">本</button></span>
                        <span><button type="submit" name="select" value="24">CD</button></span>
                        <span><button type="submit" name="select" value="25">DVD</button></span>
                        <span><button type="submit" name="select" value="26">テレビゲーム</button></span>
                        <span><button type="submit" name="select" value="29">楽器/機材</button></span>
                      </div>
                    </li>
                    <li class="m-cate03">
                      <p class="cateTitle">スポーツ/レジャー</p>
                      <div class="s-category">
                        <span><button type="submit" name="select" value="41">ゴルフ</button></span>
                        <span><button type="submit" name="select" value="42">釣り</button></span>
                        <span><button type="submit" name="select" value="43">野球</button></span>
                        <span><button type="submit" name="select" value="44">サッカー</button></span>
                        <span><button type="submit" name="select" value="45">テニス</button></span>
                        <span><button type="submit" name="select" value="46">スノーボード</button></span>
                        <span><button type="submit" name="select" value="47">アウトドア</button></span>
                      </div>
                    </li>
                    <li class="m-cate04">
                      <p class="cateTitle">ハンドメイド</p>
                      <div class="s-category">
                        <span><button type="submit" name="select" value="48">アクセサリー</button></span>
                        <span><button type="submit" name="select" value="49">ファッション/小物</button></span>
                        <span><button type="submit" name="select" value="50">時計</button></span>
                        <span><button type="submit" name="select" value="51">インテリア</button></span>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>

              <div class="tab-contents">
                <div class="other-box">
                  <ul>
                    <li class="m-cate01">
                      <p class="cateTitle">チケット</p>
                      <div class="s-category">
                        <span><button type="submit" name="select" value="52">音楽</button></span>
                        <span><button type="submit" name="select" value="53">スポーツ</button></span>
                        <span><button type="submit" name="select" value="54">演劇</button></span>
                        <span><button type="submit" name="select" value="55">映画</button></span>
                        <span><button type="submit" name="select" value="56">優待券</button></span>
                      </div>
                    </li>
                    <li class="m-cate02">
                      <p class="cateTitle">その他</p>
                      <div class="s-category">
                        <span><button type="submit" name="select" value="57">ペット用品</button></span>
                        <span><button type="submit" name="select" value="58">食品</button></span>
                        <span><button type="submit" name="select" value="59">日用品</button></span>
                        <span><button type="submit" name="select" value="60">事務用品</button></span>
                        <span><button type="submit" name="select" value="61">その他</button></span>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </form>
            
          </div>
        </div>
      </div>
    </div>

    <!-- 絶対に消すな -->
    <div id="kesuna"></div>
    <!-- 絶対に消すな -->

    <div class="shopping-box">
      <div class="shopping-tag">
        <ul>
          <li>ご購入内容確認</li>
          <li class="nowPage">ご購入完了</li>
        </ul>
      </div>

      <h1>ご購入ありがとうございました！</h1>

      <form action="/evaluate" method="post">
        <div class="sell-info">
          <figure id="prof_icon">
            {% if icon != None %}
            <!-- css -->
            <img src="../{{ icon }}" id="profile-image" alt="プロフィール画像" style="max-width: 80px;">
            {% elif icon == None %}
            <!-- css -->
            <img src="../static/images/icon/default_icon.png"  id="profile-image" alt="初期画像" style="max-width: 80px;">
            {% endif %}
          </figure>
          
          <div class="sell-info-detail">
            <p>名前</p>
              <input type="number" name="rate" min="0.5" max="5" step="0.5">
              <input type="hidden" name="buyid" value="{{ BuyID }}">
            </div>
            
          </div>
          
          <!-- <div class="order-number-box">
            <p>お客様のご注文番号：<span>{{ BuyID }}</span></p>
          </div> -->
          
          <div class="guidance">
            <p>お客様のご購入を承りましたのでご案内申しあげます。</p>
            <p>ご購入が確定しますと、以下メールアドレス宛にご購入完了メールをお送りしますので、必ずご確認ください。</p>
            <p>「マイページ」の「購入した商品」でご購入内容をご確認いただけます。</p>
            <p class="customer-mail">{{ MailAddress }}</p>
          </div>
          
          <div class="guidance-nav">
            <!-- <ul>
              <li><a href="{{ url_for('IndexPage') }}" class="main-btn">トップページへ</a></li>
              <li><a href="{{ url_for('MyPage') }}" class="main-btn">購入した商品へ</a></li>
            </ul> -->
            <ul>
              <li><button type="submit" name="submit" class="main-btn" value="index">トップページ</button></li>
              <li><button type="submit" name="submit" class="main-btn" value="buylist">購入した商品へ</button></li>
            </ul>
          </div>
        </div>
      </form>
      
      <footer>
        <div id="footer-wrap">
          
          <div class="footer-left">
            <!-- <img src="images/footer-tittle.svg"> -->
            <!-- <img src="images/footer-tittle-touka.svg"> -->
            <img class="footer-tittle" src="../static/images/footer-touka.svg">
            <div class="sns-box">
              <img class="footer-icon01" src="../static/images/instagram.svg">
            <img class="footer-icon02" src="../static/images/facebook.svg">
            <img class="footer-icon03" src="../static/images/twitter.svg">
          </div>
        </div>
        <div class="footer-right">
          <p class="guide-tittle">ご利用ガイド</p>
          <div class="guide-box">
            <div class="gaido-left">
              <p>ご購入方法</p>
              <p>ご出品方法</p>
              <p>送料・配送</p>
            </div>
            <div class="gaido-right">
              <p>売上金・サービス内マネー</p>
              <p>会員登録・ログイン</p>
            </div>
          </div>
        </div>

        <div class="copyRight-box">
          <p class="copyRight">2024 &copy; Copyright F group. ALL rights reserved.</p>
        </div>

      </div>
    </footer>

    <!-- レイアウト編集 -->
    {{ style | safe }}

  </body>

  <script>
    let selectedRating = 0;

    function rate(stars) {
      selectedRating = stars;
      document.getElementById("selectedRating").innerText = "選択された評価: " + selectedRating + "つ";
      
      // 選択された星の色を変更
      for (let i = 1; i <= 5; i++) {
        const starElement = document.getElementById("star" + i);
        if (starElement) {
          if (i <= stars) {
            starElement.style.color = "yellow";
          } else {
            starElement.style.color = "gray";
          }
        }
      }
    }
  </script>
  <!-- 検索用 -->
  <script src="{{ url_for('static', filename='js/nav_search.js') }}"></script>

  <!-- カテゴリ-clickしたら開く用 -->
  <script src="{{ url_for('static', filename='js/category_click.js') }}"></script>
  
  <!-- カテゴリ用 -->
  <script src="{{ url_for('static', filename='js/category_tab.js') }}"></script>


</html>