<!DOCTYPE html>

<html lang="ja">

  <head>

    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Account</title>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/reset.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/DataBase.css') }}">

    <!-- JQuery本体 CDN -->
    <!-- <script src="https://code.jquery.com/jquery-2.2.4.js" integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI=" crossorigin="anonymous"></script> -->

    <!-- jquery実行ファイル -->
    <!-- <script type="text/javascript" src="js/common.js"></script> -->

  </head>

  <body>


    <h1>DataBase管理テーブル</h1>

    <div id="wrap">
      <div id="wrap_left">
        <h2>テーブル一覧</h2>

        <ul>
          <li><a href="{{ url_for('DB_Account') }}">Account</a></li>
          <li><a href="{{ url_for('DB_Sex') }}">Sex</a></li>
          <li><a href="{{ url_for('DB_Address') }}">Addess</a></li>
          <li><a href="{{ url_for('DB_Sell') }}">Sell</a></li>
          <li><a href="{{ url_for('DB_SellIMG') }}">SellIMG</a></li>
          <li><a href="{{ url_for('DB_Status') }}">Status</a></li>
          <li><a href="{{ url_for('DB_Mcategory') }}">Mcategory</a></li>
          <li><a href="{{ url_for('DB_Scategory') }}">Scategory</a></li>
          <li><a href="{{ url_for('DB_Tag') }}">Tag</a></li>
          <li><a href="{{ url_for('DB_Buy') }}">Buy</a></li>
          <li><a href="{{ url_for('DB_Nice') }}">Nice</a></li>
          <li><a href="{{ url_for('DB_View') }}">View</a></li>
          <li><a href="{{ url_for('DB_Chat') }}">Chat</a></li>
          <li><a href="{{ url_for('DB_Tax') }}">Tax</a></li>
          <li><a href="{{ url_for('DB_Postage') }}">Postage</a></li>
          <li><a href="{{ url_for('DB_Reply') }}">Reply</a></li>
          <li><a href="{{ url_for('DB_Layout') }}">Layout</a></li>
          <li><a href="{{ url_for('DB_Numerical') }}">Numerical</a></li>
          <li><a href="{{ url_for('DB_Search') }}">Search</a></li>
        </ul>
      </div>

      <div id="wrap_right">
        <h3>{{ TableName }}</h3>

        <div class="DataContents">
          <table>
            <tr>
              <th>ChatID</th>
              <th>AccountID</th>
              <th>SellID</th>
              <th>Content</th>
              <th>Datetime</th>
            </tr>

            {% for row in Account %}
            <form action="/delete" method="post">
              <tr>
                <td><input type="text" name="ChatID" id="" class="size-input-ChatID"></td>
                <td><input type="text" name="AccountID" id="" class="size-input-AccountID"></td>
                <td><input type="text" name="SellID" id="" class="size-input-SellID"></td>
                <td><input type="text" name="Content" id="" class="size-input-Content"></td>
                <td><input type="text" name="Datetime" id="" class="size-input-Datetime"></td>
                <td><button type="submit" class="remove" name="action" value="delete">-</button></td>
              </tr>
              <td><button type="submit" class="remove" name="action" value="delete">-</button></td>
            </form>
            {% endfor %}
              
            <form action="/add_row" method="post">
                <tr>
                  <td><input type="text" name="ChatID" id="" class="size-input-ChatID"></td>
                  <td><input type="text" name="AccountID" id="" class="size-input-AccountID"></td>
                  <td><input type="text" name="SellID" id="" class="size-input-SellID"></td>
                  <td><input type="text" name="Content" id="" class="size-input-Content"></td>
                  <td><input type="text" name="Datetime" id="" class="size-input-Datetime"></td>
                  <td><button type="submit" class="remove" name="action" value="delete">-</button></td>
                </tr>
                <button type="submit" id="addRow" name="action" value="insert">+ 追加</button>
              </table>
            </form>
        </div>

      </div>
    </div>


  </body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script src="{{ url_for('static', filename='js/Buy.js') }}"></script>

</html>