<!DOCTYPE html>

<html lang="ja">

  <head>

    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Varia Free</title>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/reset.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/common.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/guide.css') }}">
    
    <!-- google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+New:wght@500&display=swap" rel="stylesheet">

    <!-- JQuery本体 CDN -->
    <script src="https://code.jquery.com/jquery-2.2.4.js" integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI=" crossorigin="anonymous"></script>

    <!-- jquery実行ファイル -->
    <!-- <script type="text/javascript" src="js/common.js"></script> -->

  </head>

  <body>
    
    <nav id="main-nav">
      <div class="main-nav-box">
        <div class="left-nav">
          <figure id="prof_icon">
            <a class="" href="{{ url_for('MyPage') }}">
              {% if icon != None %}
              <!-- css -->
              <img src="{{ icon }}" id="profile-image" alt="プロフィール画像">
              {% elif icon == None %}
              <!-- css -->
              <img src="../static/images/icon/default_icon.png"  id="profile-image" alt="初期画像">
              {% endif %}
            </a>
          </figure>
          <p>{{ UserName }}様</p>
        </div>

        <figure>
          <a href="{{ url_for('IndexPage') }}"><img src="../static/images/title111.svg"></a>
        </figure>
        <div class="right-nav">
          <ul>
            <!-- <li class="underline"><a href="" id="hoverButton">テーブル</a></li> -->
            <li class="underline"><p id="hoverButton">カテゴリ</p></li>
            <li class="underline"><a class="nav-maypage" href="{{ url_for('MyPage') }}">マイページ</a></li>
            <li><img id="navbtn" src="../static/images/magnifying-glass-light.svg"></li>
            <!--<li><a href="{{ url_for('FavoritePage') }}"><img src="../static/images/heart-light.svg"></a></li>-->
            <li><a href="{{ url_for('FavoritePage') }}"><img class="book-mark" src="../static/images/bookmarks-light.svg"></a></li>
            <li><a class="nav-sell" href="{{ url_for('SellPage') }}" id="btn">出品</a></li>
          </ul>
        </div>
      </div>
    </nav>


    <div class="search-box">
      <img id="closebtn" src="../static/images/x01.svg">
      <!-- <img id="closebtn" src="images/x.svg"> -->
      <div class="search-wrap">
        <div class="search-title">
          <h1>SEARCH</h1>
          <p class="sub-sea">商品を探す</p>
        </div>
        <form action="/search"  method="post" class="search-form-4">
          <label>
            <button type="submit"></button>
            <input type="text" name="search_word" id="searchInput" autocomplete="off" placeholder="お探しの商品・キーワードをご入力ください">
            <!-- <button type="submit">検索</button> -->
          </label>
        </form>
      </div>

      <form action="/search" method="post">
        <ul class="search-history" style="display: none;">
          {% for word in words %}
          <li>
            <button type="submit" value="{{ word }}" name="search_word">{{ word }}</button>
            <img src="../static/images/search-x.svg" class="search-delete-btn" alt="" data-word="{{ word }}">
          </li>
          {% endfor %}
        </ul>
      </form>
    </div>

    <div class="cate-box">
      <img id="cate_closebtn" src="../static/images/x01_cate.svg">
      <div class="cate-wrap">
        <div class="cate-title">
          <h1>CATEGORY</h1>
          <p class="sub-cate">商品を探す</p>
        </div>
        <div class="tab">
          <ul class="tab-list">
            <li class="tab-list-item is-btn-active">レディース</li>
            <li class="tab-list-item">メンズ</li>
            <li class="tab-list-item">インテリア/家電</li>
            <li class="tab-list-item">ホビー</li>
            <li class="tab-list-item">その他</li>
          </ul>

          <!-- コンテンツを構成するブロック -->
          <div class="tab-contents-wrap">

            <form action="/category_search" method="post">
              <div class="tab-contents is-contents-active">
                <div class="women-box">
                  <ul>
                    <li class="m-cate01">
                      <p class="cateTitle">レディース</p>
                      <!-- <div class="s-category">
                        <span>トップス</span>
                        <span>パンツ</span>
                        <span>シューズ</span>
                        <span>バッグ</span>
                        <span>アクセサリー</span>
                        <span>ファッション小物</span>
                      </div> -->
                      <div class="s-category">
                        <span><button type="submit" name="select" value="1">トップス</button></span>
                        <span><button type="submit" name="select" value="3">パンツ</button></span>
                        <span><button type="submit" name="select" value="5">シューズ</button></span>
                        <span><button type="submit" name="select" value="7">バッグ</button></span>
                        <span><button type="submit" name="select" value="9">アクセサリー</button></span>
                        <span><button type="submit" name="select" value="11">ファッション小物</button></span>
                      </div>
                    </li>
                    <li class="m-cate02">
                      <p class="cateTitle">ベビー・キッズ</p>
                      <div class="s-category">
                        <span><button type="submit" name="select" value="13">ベビー服</button></span>
                        <span><button type="submit" name="select" value="14">キッズ服</button></span>
                        <span><button type="submit" name="select" value="15">キッズシューズ</button></span>
                      </div>
                    </li>
                    <li class="m-cate03">
                      <p class="cateTitle">コスメ/香水/美容</p>
                      <div class="s-category">
                        <span><button type="submit" name="select" value="32">スキンケア</button></span>
                        <span><button type="submit" name="select" value="33">ボディケア</button></span>
                        <span><button type="submit" name="select" value="34">ヘアケア</button></span>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>

              <div class="tab-contents">
                <div class="men-box">
                  <ul>
                    <li class="m-cate01">
                      <p class="cateTitle">メンズ</p>
                      <div class="s-category">
                        <span><button type="submit" name="select" value="2">トップス</button></span>
                        <span><button type="submit" name="select" value="4">パンツ</button></span>
                        <span><button type="submit" name="select" value="6">シューズ</button></span>
                        <span><button type="submit" name="select" value="8">バッグ</button></span>
                        <span><button type="submit" name="select" value="10">アクセサリー</button></span>
                        <span><button type="submit" name="select" value="12">ファッション小物</button></span>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>

              <div class="tab-contents">
                <div class="day-box">
                  <ul>
                    <li class="m-cate01">
                      <p class="cateTitle">インテリア/住まい/小物</p>
                      <div class="s-category">
                        <span><button type="submit" name="select" value="17">キッチン/食器</button></span>
                        <span><button type="submit" name="select" value="18">家具/収納</button></span>
                        <span><button type="submit" name="select" value="19">カーペット</button></span>
                        <span><button type="submit" name="select" value="20">カーテン</button></span>
                        <span><button type="submit" name="select" value="21">ライト</button></span>
                        <span><button type="submit" name="select" value="22">インテリア小物</button></span>
                      </div>
                    </li>
                    <li class="m-cate02">
                      <p class="cateTitle">家電/スマホ/カメラ</p>
                      <div class="s-category">
                        <span><button type="submit" name="select" value="35">スマートフォン</button></span>
                        <span><button type="submit" name="select" value="36">PC</button></span>
                        <span><button type="submit" name="select" value="37">カメラ</button></span>
                        <span><button type="submit" name="select" value="38">テレビ</button></span>
                        <span><button type="submit" name="select" value="39">オーディオ</button></span>
                        <span><button type="submit" name="select" value="40">生活家電</button></span>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>

              <div class="tab-contents">
                <div class="hobby-box">
                  <ul>
                    <li class="m-cate01">
                      <p class="cateTitle">おもちゃ/ホビー/グッズ</p>
                      <div class="s-category">
                        <span><button type="submit" name="select" value="27">おもちゃ</button></span>
                        <span><button type="submit" name="select" value="28">コミック/アニメグッズ</button></span>
                      </div>
                    </li>
                    <li class="m-cate02">
                      <p class="cateTitle">本/音楽/ゲーム</p>
                      <div class="s-category">
                        <span><button type="submit" name="select" value="23">本</button></span>
                        <span><button type="submit" name="select" value="24">CD</button></span>
                        <span><button type="submit" name="select" value="25">DVD</button></span>
                        <span><button type="submit" name="select" value="26">テレビゲーム</button></span>
                        <span><button type="submit" name="select" value="29">楽器/機材</button></span>
                      </div>
                    </li>
                    <li class="m-cate03">
                      <p class="cateTitle">スポーツ/レジャー</p>
                      <div class="s-category">
                        <span><button type="submit" name="select" value="41">ゴルフ</button></span>
                        <span><button type="submit" name="select" value="42">釣り</button></span>
                        <span><button type="submit" name="select" value="43">野球</button></span>
                        <span><button type="submit" name="select" value="44">サッカー</button></span>
                        <span><button type="submit" name="select" value="45">テニス</button></span>
                        <span><button type="submit" name="select" value="46">スノーボード</button></span>
                        <span><button type="submit" name="select" value="47">アウトドア</button></span>
                      </div>
                    </li>
                    <li class="m-cate04">
                      <p class="cateTitle">ハンドメイド</p>
                      <div class="s-category">
                        <span><button type="submit" name="select" value="48">アクセサリー</button></span>
                        <span><button type="submit" name="select" value="49">ファッション/小物</button></span>
                        <span><button type="submit" name="select" value="50">時計</button></span>
                        <span><button type="submit" name="select" value="51">インテリア</button></span>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>

              <div class="tab-contents">
                <div class="other-box">
                  <ul>
                    <li class="m-cate01">
                      <p class="cateTitle">チケット</p>
                      <div class="s-category">
                        <span><button type="submit" name="select" value="52">音楽</button></span>
                        <span><button type="submit" name="select" value="53">スポーツ</button></span>
                        <span><button type="submit" name="select" value="54">演劇</button></span>
                        <span><button type="submit" name="select" value="55">映画</button></span>
                        <span><button type="submit" name="select" value="56">優待券</button></span>
                      </div>
                    </li>
                    <li class="m-cate02">
                      <p class="cateTitle">その他</p>
                      <div class="s-category">
                        <span><button type="submit" name="select" value="57">ペット用品</button></span>
                        <span><button type="submit" name="select" value="58">食品</button></span>
                        <span><button type="submit" name="select" value="59">日用品</button></span>
                        <span><button type="submit" name="select" value="60">事務用品</button></span>
                        <span><button type="submit" name="select" value="61">その他</button></span>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </form>
            
          </div>
        </div>
      </div>
    </div>

    <!-- 絶対に消すな -->
    <div id="kesuna"></div>
    <!-- 絶対に消すな -->

    
    <div id="box">

        <nav id="third_nav">
          <ul>
            <li id="s_02">ご利用ガイド</li>
            <li><a href="#s_02_1">ご購入方法</a></li>
            <li><a href="#s_02_2">ご出品方法</a></li>
            <li><a href="#s_02_3">送料</a></li>
            <li><a href="#s_02_4">売上金・サービス内マネー</a></li>
            <li><a href="#s_02_5">会員登録・ログイン</a></li>
            <li><a href="#s_02_6">個人情報の登録・変更</a></li>
          </ul>
        </nav>
  
  
        <main id="guide-box">
  
          <div id="guideBuy">
            <div class="title-box" id="s_02_1">
              <p class="one_title">１．ご購入方法</p>
              <a class="button" href="#s_02">▲ メニューに戻る</a>
            </div>
            <div class="guide-detail-box">
              <div class="step-wrap">
                <div class="step-box">
                  <p class="step">STEP１</p>
                  <p class="step-tittle">商品の検索・選択</p>
                </div>
                <div class="step-exa">
                  <p>キーワード検索やカテゴリーを指定、もしくは商品一覧から商品を見つけ、商品詳細ページに遷移します。</p>
                </div>
              </div>
              <figure>
                <img src="../static/images/guide01.png">
              </figure>
            </div>
  
            <div class="guide-detail-box">
              <div class="step-wrap">
                <div class="step-box">
                  <p class="step">STEP２</p>
                  <p class="step-tittle">「購入手続きへ」をクリック</p>
                </div>
                <div class="step-exa">
                  <p>商品を確認し、よろしければ「購入手続きへ」ボタンを押して次の手順に進みます。</p>
                  <div class="product-exa">
                    <p>【 購入前に以下を必ずご確認ください 】</p>
                    <p>‣金額</p>
                    <p>‣商品説明</p>
                    <p>‣商品状態</p>
                  </div>
                </div>
              </div>
              <figure>
                <img src="../static/images/guide04.png">
              </figure>
            </div>
  
            <div class="guide-detail-box">
              <div class="step-wrap">
                <div class="step-box">
                  <p class="step">STEP３</p>
                  <p class="step-tittle">お届け先住所の選択・内容の確認</p>
                </div>
                <div class="step-exa">
                  <p>購入内容確認画面にて、お届け先住所を選択し、内容のご確認してください。</p>
                  <p class="exa01">確認ができましたら、チェックボックスをチェックした後に「購入を確定する」ボタンを押してください。</p>
                  <p class="exa02">これで、すべてのご購入手続きが完了しました。</p>
                </div>
              </div>
              <figure>
                <img src="../static/images/guide05.png">
              </figure>
            </div>
          </div>
  
          <div id="guideSell">
            <div class="title-box" id="s_02_2">
              <p class="one_title">２．ご出品方法について</p>
              <a class="button" href="#s_02">▲ メニューに戻る</a>
            </div>
  
            <div class="guide-detail-box">
              <div class="step-wrap">
                <div class="step-box">
                  <p class="step">STEP１</p>
                  <p class="step-tittle">写真の選択</p>
                </div>
                <div class="step-exa">
                  <p>写真を複数枚選択し、その中から一枚だけ出品時のサムネイルを選んでください。</p>
                  <p class="exa01">間違えた写真を選んでしまった場合は、写真右上の×ボタンを押すことで削除できます。</p>
                </div>
              </div>
              <figure>
                <img src="../static/images/guide06.png">
              </figure>
            </div>
  
            <div class="guide-detail-box">
              <div class="step-wrap">
                <div class="step-box">
                  <p class="step">STEP２</p>
                  <p class="step-tittle">商品の説明を入力</p>
                </div>
                <div class="step-exa">
                  <p>商品の説明を入力してください。</p>
                  <p class="exa01">カテゴリーと商品の状態、商品名と商品の説明などをできるだけ詳細を入力して商品の魅力を伝えてください。</p>
                  <p></p>
                </div>
              </div>
              <figure>
                <img src="../static/images/guide07.png">
              </figure>
            </div>
  
            <div class="guide-detail-box">
              <div class="step-wrap">
                <div class="step-box">
                  <p class="step">STEP３</p>
                  <p class="step-tittle">出品内容の確認</p>
                </div>
                <div class="step-exa">
                  <p>すべての項目の入力・設定の確認が完了しましたら、出品者ご自身の住所を選択してください。</p>
                  <p class="exa01">その後、「上記の情報を確認しました」をチェックし、「出品する」ボタンを押してください。</p>
                  <p class="exa02">これで、すべてのご出品手続きが完了しました。</p>
                  <p></p>
                </div>
              </div>
              <figure>
                <img src="../static/images/guide08.png">
                <img class="img02" src="../static/images/guide09.png">
              </figure>
            </div>
  
          </div>
  
          <div id="guidePostage">
            <div class="title-box" id="s_02_3">
              <p class="one_title">３．送料</p>
              <a class="button" href="#s_02">▲ メニューに戻る</a>
            </div>
            <div class="postage-wrap">
              <p>【送料】</p>
              <p>※送料は出品者様の自己負担になっております。</p>
              <div class="postage-box">
                <p>‣小</p>
                <p class="kg">(~３kg未満)</p>
                <p>：１０６円</p>
              </div>
              <div class="postage-box">
                <p>‣中</p>
                <p class="kg">(3kg以上~10kg未満)</p>
                <p>：１３５円</p>
              </div>
              <div class="postage-box">
                <p>‣大</p>
                <p class="kg">(10kg以上~)</p>
                <p>：１６５円</p>
              </div>
            </div>
          </div>
  
          <div id="guideMoney">
            <div class="title-box" id="s_02_4">
              <p class="one_title">４．売上金・サービス内マネー</p>
              <a class="button" href="#s_02">▲ メニューに戻る</a>
            </div>
            <div class="money-wrap">
              <p>【売上金】</p>
              <p>当サイトで商品を販売して得た販売利益にあたります。</p>
  
              <p class="exa01">【サービス内マネー】</p>
              <p>当サイトで商品を購入する時に必要となるお金です。</p>
              <p>マイページからチャージすることが可能となっております。</p>
            </div>
          </div>
  
          <div id="guideUser">
            <div class="title-box" id="s_02_5">
              <p class="one_title">５．会員登録・ログイン</p>
              <a class="button" href="#s_02">▲ メニューに戻る</a>
            </div>
            <div class="login-new-wrap">
              <p>【会員登録されていない方】</p>
              <p>新規会員登録ページでユーザーネーム、メールアドレスとパスワードを入力して新規会員登録をしてください。</p>
  
              <p class="exa01">【会員登録がお済みの方】</p>
              <p>ログインページから登録時に入力されたメールアドレスとパスワードでログインしてください。</p>
              <p class="exa02">入会費・年会費は無料です。</p>
            </div>
          </div>
  
          <div id="guidePersonal">
            <div class="title-box" id="s_02_6">
              <p class="one_title">６．個人情報の登録・変更</p>
              <a class="button" href="#s_02">▲ メニューに戻る</a>
            </div>
  
            <div class="guide-detail-box">
              <div class="step-wrap">
                <div class="step-box">
                  <p class="step">STEP１</p>
                  <p class="step-tittle">画像・ユーザーネームの変更</p>
                </div>
                <div class="step-exa">
                  <p>【画像の変更】</p>
                  <p>画像を選択して「変更」ボタンを押してください。</p>
                  <p class="exa01">【ユーザーネームの変更】</p>
                  <p>ユーザーネームを入力して「変更」ボタンを押してください。</p>
                </div>
              </div>
              <figure>
                <img src="../static/images/guide10.png">
              </figure>
            </div>
  
            <div class="guide-detail-box">
              <div class="step-wrap">
                <div class="step-box">
                  <p class="step">STEP２</p>
                  <p class="step-tittle">住所の追加・削除</p>
                </div>
                <div class="step-exa">
                  <p>【住所の追加】</p>
                  <p>郵便番号、住所を入力して「追加」ボタンを押してください。</p>
                  <p class="exa01">【住所の削除】</p>
                  <p>住所一覧から「削除」ボタンを押してください。</p>
                </div>
              </div>
              <figure>
                <img src="../static/images/guide11.png">
              </figure>
            </div>
  
            <div class="guide-detail-box">
              <div class="step-wrap">
                <div class="step-box">
                  <p class="step">STEP３</p>
                  <p class="step-tittle">メールアドレス・パスワードの変更</p>
                </div>
                <div class="step-exa">
                  <p>【メールアドレスの変更】</p>
                  <p>新しいメールアドレスを入力して「変更」ボタンを押してください。</p>
                  <p class="exa01">【パスワードの変更】</p>
                  <p>現在のパスワードを入力した後、新しいパスワードを入力して「変更」ボタンを押してください。</p>
                </div>
              </div>
              <figure>
                <img src="../static/images/guide12.png">
              </figure>
            </div>
  
            <div class="guide-detail-box">
              <div class="step-wrap">
                <div class="step-box">
                  <p class="step">STEP４</p>
                  <p class="step-tittle">個人情報の変更</p>
                </div>
                <div class="step-exa">
                  <p>【氏名・生年月日の変更】</p>
                  <p>氏名・カナ、生年月日を入力して「変更」ボタンを押してください。</p>
                  <p class="exa01">【性別の変更】</p>
                  <p>男性、女性、秘密から選択して「変更」ボタンを押してください。</p>
                  <p class="exa02">これで、すべての個人情報の登録・変更作業が完了しました。</p>
                </div>
              </div>
              <figure>
                <img src="../static/images/guide13.png">
              </figure>
            </div>
          </div>
        </main>
  
      </div>


    <footer>
      <div id="footer-wrap">

        <div class="footer-left">
          <a href="{{ url_for('IndexPage') }}"><img class="footer-tittle" src="../static/images/footer-touka.svg"></a>
          <!-- <div class="sns-box">
            <img class="footer-icon01" src="../static/images/instagram.svg">
            <img class="footer-icon02" src="../static/images/facebook.svg">
            <img class="footer-icon03" src="../static/images/twitter.svg">
          </div> -->
        </div>
        <div class="footer-right">
          <p class="guide-tittle">ご利用ガイド</p>
          <div class="guide-box">
            <div class="gaido-left">
              <a href="#s_02_1"><p>ご購入方法</p></a>
              <a href="#s_02_2"><p>ご出品方法</p></a>
              <a href="#s_02_3"><p>送料</p></a>              
            </div>
            <div class="gaido-right">
              <a href="#s_02_4"><p>売上金・サービス内マネー</p></a>
              <a href="#s_02_5"><p>会員登録・ログイン</p></a>
              <a href="#s_02_6"><p>個人情報の登録・変更</p></a>
            </div>
          </div>
        </div>

        <div class="copyRight-box">
          <p class="copyRight">2024 &copy; Copyright F group. ALL rights reserved.</p>
        </div>

      </div>
    </footer>

    <!-- レイアウト編集 -->
    {{ style | safe }}

  </body>
  <!-- 検索用 -->
  <script src="{{ url_for('static', filename='js/nav_search.js') }}"></script>
  <!-- 検索履歴 -->
  <script src="{{ url_for('static', filename='js/search-input.js') }}"></script>

  <!-- カテゴリ-clickしたら開く用 -->
  <script src="{{ url_for('static', filename='js/category_click.js') }}"></script>
  
  <!-- カテゴリ用 -->
  <script src="{{ url_for('static', filename='js/category_tab.js') }}"></script>

  <!-- ガイド用 -->
  <script src="{{ url_for('static', filename='js/guide.js') }}"></script>

</html>