<!DOCTYPE html>

<html lang="ja">

  <head>

    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Varia Free</title>

    <link rel="stylesheet" type="text/css" href="../static/css/reset.css">
    <link rel="stylesheet" type="text/css" href="../static/css/common.css">

    <!-- JQuery本体 CDN -->
    <!-- <script src="https://code.jquery.com/jquery-2.2.4.js" integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI=" crossorigin="anonymous"></script> -->

    <!-- jquery実行ファイル -->
    <!-- <script type="text/javascript" src="js/common.js"></script> -->

  </head>

  <body>
    <div id="wrap">

      <figure>
        <a href="index.html"><img src="../static/images/logo.png"></a>
      </figure>

      <form action="#" class="search-form-003">
        <label>
          <input type="text" placeholder="キーワードを入力">
        </label>
        <button type="submit" aria-label="検索"></button>
      </form>

      <nav>
        <ul>
          <li><a class="nav01" href="mypage.html">マイページ</a></li>
          <li><a class="nav01" href="favorite.html">いいね一覧</a></li>
          <li><a class="nav02" href="sell.html">出品</a></li>
        </ul>
      </nav>

      <div id="sub_nav">
        <ul>
          <li class="line-index"><a href="index.html">おすすめ</a></li>
          <li><a href="mylist.html">マイリスト</a></li>
          <li><a href="#">トレンド</a></li>
        </ul>
      </div>

    </div>




    <div class="slide-index">
      <img src="../static/images/slide01.jpg" alt="メインビジュアル01">
      <img src="../static/images/slide02.jpg" alt="メインビジュアル02">
      <img src="../static/images/slide03.jpg" alt="メインビジュアル03">
    </div>




    <main class="product_area">
      <h1>おすすめ商品</h1>

      <div class="wrap_product">

        <div class="product">
          <a href="product.html">
            <figure>
              <img src="../static/images/doraemon.png" alt="">
            </figure>
            <p>VICKIE MINI SAFFIANO LEATHER〈ビッキー レザーミニトート〉ブラック</p>
            <span>¥18,700</span>
          </a>
        </div>

        <div class="product">
          <a href="product.html">
            <figure>
              <img src="../static/images/doraemon.png" alt="">
            </figure>
            <p>VICKIE MINI SAFFIANO LEATHER〈ビッキー レザーミニトート〉ブラック</p>
            <span>¥18,700</span>
          </a>
        </div>

        <div class="product">
          <a href="product.html">
            <figure>
              <img src="../static/images/doraemon.png" alt="">
            </figure>
            <p>VICKIE MINI SAFFIANO LEATHER〈ビッキー レザーミニトート〉ブラック</p>
            <span>¥18,700</span>
          </a>
        </div>

        <div class="product">
          <a href="product.html">
            <figure>
              <img src="../static/images/doraemon.png" alt="">
            </figure>
            <p>VICKIE MINI SAFFIANO LEATHER〈ビッキー レザーミニトート〉ブラック</p>
            <span>¥18,700</span>
          </a>
        </div>

        <div class="product">
          <a href="product.html">
            <figure>
              <img src="../static/images/doraemon.png" alt="">
            </figure>
            <p>VICKIE MINI SAFFIANO LEATHER〈ビッキー レザーミニトート〉ブラック</p>
            <span>¥18,700</span>
          </a>
        </div>

        <div class="product">
          <a href="product.html">
            <figure>
              <img src="../static/images/doraemon.png" alt="">
            </figure>
            <p>VICKIE MINI SAFFIANO LEATHER〈ビッキー レザーミニトート〉ブラック</p>
            <span>¥18,700</span>
          </a>
        </div>

        <div class="product">
          <a href="product.html">
            <figure>
              <img src="../static/images/doraemon.png" alt="">
            </figure>
            <p>VICKIE MINI SAFFIANO LEATHER〈ビッキー レザーミニトート〉ブラック</p>
            <span>¥18,700</span>
          </a>
        </div>

        <div class="product">
          <a href="product.html">
            <figure>
              <img src="../static/images/doraemon.png" alt="">
            </figure>
            <p>VICKIE MINI SAFFIANO LEATHER〈ビッキー レザーミニトート〉ブラック</p>
            <span>¥18,700</span>
          </a>
        </div>

        <div class="product">
          <a href="product.html">
            <figure>
              <img src="../static/images/doraemon.png" alt="">
            </figure>
            <p>VICKIE MINI SAFFIANO LEATHER〈ビッキー レザーミニトート〉ブラック</p>
            <span>¥18,700</span>
          </a>
        </div>

        <div class="product">
          <a href="product.html">
            <figure>
              <img src="../static/images/doraemon.png" alt="">
            </figure>
            <p>VICKIE MINI SAFFIANO LEATHER〈ビッキー レザーミニトート〉ブラック</p>
            <span>¥18,700</span>
          </a>
        </div>

        <div class="product">
          <a href="product.html">
            <figure>
              <img src="../static/images/doraemon.png" alt="">
            </figure>
            <p>VICKIE MINI SAFFIANO LEATHER〈ビッキー レザーミニトート〉ブラック</p>
            <span>¥18,700</span>
          </a>
        </div>

      </div>
    </main>


    <footer>
      <h1>#VariaFree</h1>
      <p>2023 &copy; Copyright F group. ALL rights reserved.</p>
    </footer>

  </body>

</html>