<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>管理者-トップ</title>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/reset.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/admin.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/managetop.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/common.css') }}">

</head>
<body>
    <div id="wrap">
        <figure>
          <a href="index.html"><img src="../static/images/logo.png"></a>
        </figure>
    </div>

    <div id="content">
        <main>
            <h1>トップ</h1>
            <hr>
            <table>
                <tr>
                    <th>サイトの状態:</th>
                    <td>非公開</td>
                </tr>
                <tr>
                    <th>ユーザーID:</td>
                    <td>NULL</td>
                </tr>
                <tr>
                    <th>製作者名:</th>
                    <td>NULL</td>
                </tr>
                <tr>
                    <th>サイト名:</th>
                    <td>VariaFree</td>
                </tr>
                <tr>
                    <th>メールアドレス:</th>
                    <td>NULL</td>
                </tr>
            </table>
            <h1>お知らせ</h1>
            <hr>
            <ul>
                <li>
                    <div class="title">タイトル</div><div class="content">内容</div><div class="date">日付</div>
                </li>
                <li>
                    <div class="title">タイトル</div><div class="content">内容</div><div class="date">日付</div>
                </li>
                <li>
                    <div class="title">タイトル</div><div class="content">内容</div><div class="date">日付</div>
                </li>
            </ul>
        </main>

        <nav>
            <ul>
                <li><a href="index.html" class="nav">ホーム</a></li>
                <li><a href="managetop.html" class="nav">トップ</a></li>
                <li><a href="managepage.html" class="nav">ページ</a></li>
                <li><a href="manageuser.html" class="nav">ユーザー</a></li>
                <li><a href="managedb.html" class="nav">データベース</a></li>
            </ul>
        </nav>
    </div>

    <footer>
        <h1>#VariaFree</h1>
        <p>2023 &copy; Copyright F group. ALL rights reserved.</p>
    </footer>
</body>
</html>
