<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>管理者-ページ</title>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/reset.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/admin.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/managepage.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/common.css') }}">


</head>
<body>
    <div id="wrap">
        <figure>
            <a href="{{ url_for('IndexPage') }}"><img src="{{ url_for('static', filename='images/logo.png') }}"></a>
        </figure>
    </div>

    <div id="content">
        <main>
            <h1>ページ</h1>
            <hr>
            <div id="pages">
                <ul>
                    <li><a href="{{ url_for('IndexPage') }}">Index</a></li>
                    <li><a href="{{ url_for('ManagetopPage') }}" >ManageTop</a></li>
                    <li><a href="{{ url_for('ManagePage') }}" >ManagePage</a></li>
                    <li><a href="{{ url_for('ManageuserPage') }}">manageuser</a></li>
                    <li><a href="{{ url_for('ManagedbPage') }}">ManageDB</a></li>
                    <li><a href="{{ url_for('FavolitePage') }}">Favorite</a></li>
                    <li><a href="{{ url_for('MylistPage') }}">MyList</a></li>
                    <li><a href="{{ url_for('MyPage') }}">MyPage</a></li>
                    <li><a href="{{ url_for('PersonalPage') }}">Personal</a></li>
                    <li><a href="{{ url_for('ProductPage') }}">Product</a></li>
                    <li><a href="{{ url_for('SellPage') }}">Sell</a></li>
                    <li><a href="{{ url_for('ViewlogPage') }}">ViewLog</a></li>
                </ul>
            </div>

        </main>

        <nav>
            <ul>
                <li><a href="{{ url_for('IndexPage') }}" class="nav">ホーム</a></li>
                <li><a href="{{ url_for('ManagetopPage') }}" class="nav">トップ</a></li>
                <li><a href="{{ url_for('ManagePage') }}" class="nav">ページ</a></li>
                <li><a href="{{ url_for('ManageuserPage') }}" class="nav">ユーザー</a></li>
                <li><a href="{{ url_for('ManagedbPage') }}" class="nav">データベース</a></li>

            </ul>
        </nav>
    </div>

    <footer>
        <h1>#VariaFree</h1>
        <p>2023 &copy; Copyright F group. ALL rights reserved.</p>
    </footer>
</body>
</html>
