<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>管理者-データベース</title>

    <link rel="stylesheet" type="text/css" href="../static/css/reset.css">
    <link rel="stylesheet" type="text/css" href="../static/css/admin.css">
    <link rel="stylesheet" type="text/css" href="../static/css/managedb.css">
    <link rel="stylesheet" type="text/css" href="../static/css/common.css">
</head>
<body>
    <div id="wrap">
        <figure>
          <a href="index.html"><img src="../static/images/logo.png"></a>
        </figure>
    </div>

    <div id="content">
        <main>
            <h1>データベース</h1>
            <hr>
            <div class="db-table">
                <div class="spacebetween">
                    <div class="flex">
                        <h2>01</h2>
                        <h2>テーブル名</h2>
                    </div>
                    <div class="btn">
                        <button>編集</button>
                        <button>削除</button>
                    </div>
                </div>
                
                <div class="field">
                    <ul>
                        <li>フィールド名</li>
                        <li>フィールド名</li>
                    </ul>
                </div>
            </div>
            <div class="db-table">
                <div class="spacebetween">
                    <div class="flex">
                        <h2>02</h2>
                        <h2>テーブル名</h2>
                    </div>
                    <div class="btn">
                        <button>編集</button>
                        <button>削除</button>
                    </div>
                </div>
                
                <div class="field">
                    <ul>
                        <li>フィールド名</li>
                        <li>フィールド名</li>
                    </ul>
                </div>
            </div>
            <div class="db-table">
                <div class="spacebetween">
                    <div class="flex">
                        <h2>03</h2>
                        <h2>テーブル名</h2>
                    </div>
                    <div class="btn">
                        <button>編集</button>
                        <button>削除</button>
                    </div>
                </div>
                
                <div class="field">
                    <ul>
                        <li>フィールド名</li>
                        <li>フィールド名</li>
                    </ul>
                </div>
            </div>
        </main>

        <nav>
            <ul>
                <li><a href="index.html" class="nav">ホーム</a></li>
                <li><a href="managetop.html" class="nav">トップ</a></li>
                <li><a href="managepage.html" class="nav">ページ</a></li>
                <li><a href="manageuser.html" class="nav">ユーザー</a></li>
                <li><a href="managedb.html" class="nav">データベース</a></li>
            </ul>
        </nav>
    </div>

    <footer>
        <h1>#VariaFree</h1>
        <p>2023 &copy; Copyright F group. ALL rights reserved.</p>
    </footer>
</body>
</html>
