<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>管理者-ユーザー</title>

    <link rel="stylesheet" type="text/css" href="../static/css/reset.css">
    <link rel="stylesheet" type="text/css" href="../static/css/admin.css">
    <link rel="stylesheet" type="text/css" href="../static/css/manageuser.css">
    <link rel="stylesheet" type="text/css" href="../static/css/common.css">
</head>
<body>
    <div id="wrap">
        <figure>
          <a href="index.html"><img src="../static/images/logo.png"></a>
        </figure>
    </div>

    <div id="content">
        <main>
            <h1>ユーザー</h1>
            <hr>

            <div class="content">
                <h2>ユーザーID</h2>
                <p>00</p>

                <h2>名前</h2>
                <p>性 名</p>

                <h2>生年月日</h2>
                <p>200/01/01</p>

                <h2>メールアドレス</h2>
                <p>sample@mail.com</p>

                <h2>パスワード</h2>
                <p>P@ssw0rd</p>

                <h2>金額</h2>
                <p>0円</p>

            </div>
        </main>

        <nav>
            <ul>
                <li><a href="index.html" class="nav">ホーム</a></li>
                <li><a href="managetop.html" class="nav">トップ</a></li>
                <li><a href="managepage.html" class="nav">ページ</a></li>
                <li><a href="manageuser.html" class="nav">ユーザー</a></li>
                <li><a href="managedb.html" class="nav">データベース</a></li>
            </ul>
        </nav>
    </div>

    <footer>
        <h1>#VariaFree</h1>
        <p>2023 &copy; Copyright F group. ALL rights reserved.</p>
    </footer>
</body>
</html>
