<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>管理者-ページ</title>

    <link rel="stylesheet" type="text/css" href="../static/css/reset.css">
    <link rel="stylesheet" type="text/css" href="../static/css/admin.css">
    <link rel="stylesheet" type="text/css" href="../static/css/managepage.css">
    <link rel="stylesheet" type="text/css" href="../static/css/common.css">
</head>
<body>
    <div id="wrap">
        <figure>
          <a href="index.html"><img src="../static/images/logo.png"></a>
        </figure>
    </div>

    <div id="content">
        <main>
            <h1>ページ</h1>
            <hr>
            <div id="pages">
                <ul>
                    <li><a href="index.html">Index</a></li>
                    <li><a href="managetop.html">ManageTop</a></li>
                    <li><a href="managepage.html">ManagePage</a></li>
                    <li><a href="manageuser.html">ManageUser</a></li>
                    <li><a href="managedb.html">ManageDB</a></li>
                    <li><a href="favorite.html">Favorite</a></li>
                    <li><a href="mylist.html">MyList</a></li>
                    <li><a href="mypage.html">MyPage</a></li>
                    <li><a href="personal.html">Personal</a></li>
                    <li><a href="product.html">Product</a></li>
                    <li><a href="sell.html">Sell</a></li>
                    <li><a href="viewlog.html">ViewLog</a></li>
                </ul>
            </div>

        </main>

        <nav>
            <ul>
                <li><a href="index.html" class="nav">ホーム</a></li>
                <li><a href="managetop.html" class="nav">トップ</a></li>
                <li><a href="managepage.html" class="nav">ページ</a></li>
                <li><a href="manageuser.html" class="nav">ユーザー</a></li>
                <li><a href="managedb.html" class="nav">データベース</a></li>
            </ul>
        </nav>
    </div>

    <footer>
        <h1>#VariaFree</h1>
        <p>2023 &copy; Copyright F group. ALL rights reserved.</p>
    </footer>
</body>
</html>
