<!DOCTYPE html>

<html lang="ja">

  <head>

    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Varia Free</title>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/reset.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/common.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/mypage.css') }}">

    <!-- JQuery本体 CDN -->
    <!-- <script src="https://code.jquery.com/jquery-2.2.4.js" integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI=" crossorigin="anonymous"></script> -->

    <!-- jquery実行ファイル -->
    <!-- <script type="text/javascript" src="js/common.js"></script> -->

  </head>

  <body>
    <div id="wrap">

      <figure>
        <a href="index.html"><img src="../static/images/logo.png"></a>
      </figure>

      <form action="#" class="search-form-003">
        <label>
          <input type="text" placeholder="キーワードを入力">
        </label>
        <button type="submit" aria-label="検索"></button>
      </form>

      <nav>
        <ul>
          <!-- url_forへの修正 -->
          <li class="nav03"><a class="nav01" href="{{ url_for('MyPage') }}" >マイページ</a></li>
          <li class="nav03"><a class="nav01" href="{{ url_for('FavoritePage') }}">いいね一覧</a></li>
          <li><a class="nav02" href="{{ url_for('SellPage') }}">出品</a></li>
        </ul>
      </nav>

      <div id="sub_nav">
        <ul>
          <!-- url_forへの修正 -->
          <li><a href="{{ url_for('IndexPage') }}">おすすめ</a></li>
          <li><a href="{{ url_for('TrendPage') }}">トレンド</a></li>
        </ul>
      </div>

    </div>



    <div id="box">

      <nav id="third_nav">
        <ul>
          <li class="nav_title01">商品管理</li>
          <li><a href="favorite.html">いいね一覧</a></li>
          <li><a href="viewlog.html">閲覧履歴</a></li>

          <!-- url_for -->
          <li><a href="{{ url_for('SellListPage') }}">出品した商品</a></li>
          <li><a href="{{ url_for('BuyListPage') }}">購入した商品</a></li>

          <li><a href="saved_search.html">保存した検索条件</a></li>

          <!-- url_for -->
          <li><a href="{{ url_for('DraftPage') }}">下書き一覧</a></li>

          <li class="nav_title02">設定</li>
          <li><a href="personal.html">個人情報編集</a></li>
          <li><a href="layout.html">レイアウト編集</a></li>
          <li><a href="login.html">ログアウト</a></li>
        </ul>
      </nav>

      <main id="m-mypage">
        <div id="profile">

          <div class="prof_detail">
            <img src="../static/images/profile.png">
            <p class="name">{{ UserName }}</p>
            <div class="rate-form">
              <!-- <input id="star5" type="radio" name="rate" value="5">
              <label for="star5">★</label>
              <input id="star4" type="radio" name="rate" value="4">
              <label for="star4">★</label>
              <input id="star3" type="radio" name="rate" value="3">
              <label for="star3">★</label>
              <input id="star2" type="radio" name="rate" value="2">
              <label for="star2">★</label>
              <input id="star1" type="radio" name="rate" value="1">
              <label for="star1">★</label> -->
              
              <!-- 雑な表示の仕方 -->
              {% for i in range(5) %}
                {% if i < 5 - avg_evalate %}
                <label style="color:#ccc;">★</label>
                {% else %}
                <label style="color:#ffcc00;">★</label>
                {% endif %}
              {% endfor %}
            </div>
          </div>

          <div id="mypage_nav">
            <ul>
              <li><a href="favorite.html"><img src="../static/images/heart.png"><p>いいね一覧</p></a></li>
              <li><a href="saved_search.html"><img src="../static/images/search.png"><p>保存した検索条件</p></a></li>
              <li><a href="buy_list.html"><img src="../static/images/buy.png"><p>購入した商品</p></a></li>
              <li><a href="sell_list.html"><img src="../static/images/sell.png"><p>出品した商品</p></a></li>
            </ul>
          </div>
          
          <div id="point-money-box">
            <div class="bar"></div>
            <div class="point-money">
              <div class="money-box">
                <p>売上金</p>
                <div class="money">
                  <p class="mark">¥</p>
                  <span class="price">{{ proceed }}</span>
                </div>
              </div>

              <div class="point-box">
                <p>サービス内マネー</p>
                <div class="point">
                  <p class="mark">¥</p>
                  <!-- マネー表示修正 -->
                  <span class="price">{{ money }}</span>
                </div>
              </div>
            </div>
          </div>

          <div id="point-money-box">
            <!-- チャージ用フォームの追加 -->
            <!-- onsubmit="" で下のscriptタグの実行 変更可 -->
            <!-- style="" でcss付与 変更可 -->
            <form action="/charge" method="post" onsubmit="return Submit();">
              <input type="text" name="charge" id="charge" placeholder="チャージ希望金額を入力" style="margin: 0px; padding: 4px">
              <input type="submit" value="入金" style="margin-right: 30px;">
            </form>
            <form action="/charge" method="post" onsubmit="return Submit();">
              <button type="submit" name="charge" value="1000" style="margin: 0px; padding:1px 8px;">+1000円</button>
              <button type="submit" name="charge" value="2000" style="margin: 0px; padding:1px 8px;">+2000円</button>
              <button type="submit" name="charge" value="3000" style="margin: 0px; padding:1px 8px;">+3000円</button>
            </form>
            
            <!-- 確認用 -->
            <script>
              function Submit() {
                  return confirm('チャージしますか？');
              }
            </script>

          </div>

        </div>
      </main>

    </div>


    <footer>
      <p class="footer01">#VariaFree</p>
      <p>2023 &copy; Copyright F group. ALL rights reserved.</p>
    </footer>

  </body>

</html>