<!DOCTYPE html>

<html lang="ja">

  <head>

    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Varia Free</title>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/reset.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/common.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/pay_comp.css') }}">

    <!-- JQuery本体 CDN -->
    <!-- <script src="https://code.jquery.com/jquery-2.2.4.js" integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI=" crossorigin="anonymous"></script> -->

    <!-- jquery実行ファイル -->
    <!-- <script type="text/javascript" src="js/common.js"></script> -->

    <style>
      label.star {
        font-size: 2rem;
        color: #ccc;
        padding: 10px;
      }
      input.star[type="radio"] {
        -webkit-appearance: none; /* Safari/Chrome */
        -moz-appearance: none; /* Firefox */
        appearance: none;
        margin: -10px;
      }
    </style>

    <script>
      document.addEventListener("DOMContentLoaded", function () {
        function changeColor() {
          var st1 = document.getElementById('st1');
          var st2 = document.getElementById('st2');
          var st3 = document.getElementById('st3');
          var st4 = document.getElementById('st4');
          var st5 = document.getElementById('st5');
  
          if (st1.checked) {
            document.querySelector('label[for="st1"]').style.color = '#ffcc00';
            document.querySelector('label[for="st2"]').style.color = '#ccc';
            document.querySelector('label[for="st3"]').style.color = '#ccc';
            document.querySelector('label[for="st4"]').style.color = '#ccc';
            document.querySelector('label[for="st5"]').style.color = '#ccc';
          } else if (st2.checked) {
            document.querySelector('label[for="st1"]').style.color = '#ffcc00';
            document.querySelector('label[for="st2"]').style.color = '#ffcc00';
            document.querySelector('label[for="st3"]').style.color = '#ccc';
            document.querySelector('label[for="st4"]').style.color = '#ccc';
            document.querySelector('label[for="st5"]').style.color = '#ccc';
          } else if (st3.checked) {
            document.querySelector('label[for="st1"]').style.color = '#ffcc00';
            document.querySelector('label[for="st2"]').style.color = '#ffcc00';
            document.querySelector('label[for="st3"]').style.color = '#ffcc00';
            document.querySelector('label[for="st4"]').style.color = '#ccc';
            document.querySelector('label[for="st5"]').style.color = '#ccc';
          } else if (st4.checked) {
            document.querySelector('label[for="st1"]').style.color = '#ffcc00';
            document.querySelector('label[for="st2"]').style.color = '#ffcc00';
            document.querySelector('label[for="st3"]').style.color = '#ffcc00';
            document.querySelector('label[for="st4"]').style.color = '#ffcc00';
            document.querySelector('label[for="st5"]').style.color = '#ccc';
          } else if (st5.checked) {
            document.querySelector('label[for="st1"]').style.color = '#ffcc00';
            document.querySelector('label[for="st2"]').style.color = '#ffcc00';
            document.querySelector('label[for="st3"]').style.color = '#ffcc00';
            document.querySelector('label[for="st4"]').style.color = '#ffcc00';
            document.querySelector('label[for="st5"]').style.color = '#ffcc00';
          }
        }

        document.getElementById('st1').addEventListener('click', changeColor);
        document.getElementById('st2').addEventListener('click', changeColor);
        document.getElementById('st3').addEventListener('click', changeColor);
        document.getElementById('st4').addEventListener('click', changeColor);
        document.getElementById('st5').addEventListener('click', changeColor);
      });
    </script>

  </head>

  <body>
    <div id="wrap">

      <figure>
        <a href="index.html"><img src="../static/images/logo.png"></a>
      </figure>

      <form action="#" class="search-form-003">
        <label>
          <input type="text" placeholder="キーワードを入力">
        </label>
        <button type="submit" aria-label="検索"></button>
      </form>

      <nav>
        <ul>
          <!-- url_forへの修正 -->
          <li class="nav03"><a class="nav01" href="{{ url_for('MyPage') }}" >マイページ</a></li>
          <li class="nav03"><a class="nav01" href="{{ url_for('FavoritePage') }}">いいね一覧</a></li>
          <li><a class="nav02" href="{{ url_for('SellPage') }}">出品</a></li>
        </ul>
      </nav>

      <div id="sub_nav">
        <ul>
          <!-- url_forへの修正 -->
          <li><a href="{{ url_for('IndexPage') }}">おすすめ</a></li>
          <li><a href="{{ url_for('TrendPage') }}">トレンド</a></li>
        </ul>
      </div>

    </div>


    <main id="m-pay_comp">


      <h1>決済完了</h1>
      <div class="num-box">
        <h2>注文番号:</h2>
        <p class="order-num">{{ buy[0] }}</p>
      </div>

      <div class="intro-box">
        <h3>注文内容</h3>

        <div class="intro">
          <p class="title">タイトル</p>
          <span>:</span>
          <p class="content">{{ buy[2] }}</p>
        </div>
        <div class="intro">
          <p class="title">値段</p>
          <span>:</span>
          <p class="content">{{ buy[3] }}円</p>
        </div>
        <!-- <div class="intro">
          <p class="title">メーカー</p>
          <span>:</span>
          <p class="content">丸亀製麺</p>
        </div> -->
        <div class="intro">
          <p class="title">出品者</p>
          <span>:</span>
          <p class="content">{{ buy[4] }}</p>
        </div>
      </div>

      <div class="payment-box">
        <h4>支払情報</h4>
        <div class="payment">
          <p class="title">支払方法</p>
          <span>:</span>
          <p class="content">VariablePay</p>
        </div>
      </div>

      <div class="delivery-box">
        <h5>配送方法</h5>
        <div class="payment">
          <p class="title">配送料</p>
          <span>:</span>
          <p class="content">{{ buy[5] }}円</p>
        </div>
      </div>

      <div class="day-box">
        <h6>予定</h6>
        <div class="day">
          <p class="title">お届け日時</p>
          <span>:</span>
          <p class="content">{{ delidate }}</p>
        </div>
      </div>

      <!-- 評価用ココ追加 -->
      <form action="/evaluate" method="post">
        <div class="rate-form">
          <input type="hidden" name="buyid" value="{{ buyid }}">
          <label for="st1" class="star"><input type="radio" class="star" name="rate" id="st1" value="1" onclick="changeColor()">★</label>
          <label for="st2" class="star"><input type="radio" class="star" name="rate" id="st2" value="2" onclick="changeColor()">★</label>
          <label for="st3" class="star"><input type="radio" class="star" name="rate" id="st3" value="3" onclick="changeColor()">★</label>
          <label for="st4" class="star"><input type="radio" class="star" name="rate" id="st4" value="4" onclick="changeColor()">★</label>
          <label for="st5" class="star"><input type="radio" class="star" name="rate" id="st5" value="5" onclick="changeColor()">★</label>
        </div>
        <!-- ここにCSSを付けてほしい、前のやつは下にあるliタグの次へボタン -->
        <button type="submit">次へ</button>
      </form>

      <!-- ここを非表示 -->
      <!-- <div class="next">
        <ul>
          
          <li><a href="{{ url_for('IndexPage') }}" class="btn05">次へ</a></li>
        </ul>
      </div> -->


    </main>


    <footer>
      <p class="footer01">#VariaFree</p>
      <p>2023 &copy; Copyright F group. ALL rights reserved.</p>
    </footer>

  </body>

</html>