<!DOCTYPE html>

<html lang="ja">

  <head>

    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Varia Free</title>

    <link rel="stylesheet" type="text/css" href="../static/css/reset.css">
    <link rel="stylesheet" type="text/css" href="../static/css/common.css">
    <link rel="stylesheet" type="text/css" href="../static/css/pay_comp.css">

    <!-- JQuery本体 CDN -->
    <!-- <script src="https://code.jquery.com/jquery-2.2.4.js" integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI=" crossorigin="anonymous"></script> -->

    <!-- jquery実行ファイル -->
    <!-- <script type="text/javascript" src="js/common.js"></script> -->

  </head>

  <body>
    <div id="wrap">

      <figure>
        <a href="index.html"><img src="../static/images/logo.png"></a>
      </figure>

      <form action="#" class="search-form-003">
        <label>
          <input type="text" placeholder="キーワードを入力">
        </label>
        <button type="submit" aria-label="検索"></button>
      </form>

      <nav>
        <ul>
          <li class="nav03"><a class="nav01" href="mypage.html">マイページ</a></li>
          <li class="nav03"><a class="nav01" href="favorite.html">いいね一覧</a></li>
          <li><a class="nav02" href="sell.html">出品</a></li>
        </ul>
      </nav>

      <div id="sub_nav">
        <ul>
          <li><a href="index.html">おすすめ</a></li>
          <li><a href="#">トレンド</a></li>
        </ul>
      </div>

    </div>


    <main id="m-pay_comp">


      <h1>決済完了</h1>

      <div class="num-box">
        <h2>注文番号：</h2>
        <p class="order-num">23948217</p>
      </div>

      <div class="intro-box">
        <h3>注文内容</h3>

        <div class="intro">
          <p class="title">タイトル</p>
          <span>：</span>
          <p class="content">ドライヤー</p>
        </div>
        <div class="intro">
          <p class="title">値段</p>
          <span>：</span>
          <p class="content">3500</p>
        </div>
        <div class="intro">
          <p class="title">メーカー</p>
          <span>：</span>
          <p class="content">丸亀製麺</p>
        </div>
        <div class="intro">
          <p class="title">出品者</p>
          <span>：</span>
          <p class="content">本田翼</p>
        </div>
      </div>

      <div class="payment-box">
        <h4>支払情報</h4>
        <div class="payment">
          <p class="title">支払方法</p>
          <span>：</span>
          <p class="content">電子pay</p>
        </div>
      </div>

      <div class="delivery-box">
        <h5>配送方法</h5>
        <div class="payment">
          <p class="title">配送料</p>
          <span>：</span>
          <p class="content">1350</p>
        </div>
      </div>

      <div class="day-box">
        <h6>予定</h6>
        <div class="day">
          <p class="title">お届け日時</p>
          <span>：</span>
          <p class="content">15:30 ~ 16:30</p>
        </div>
      </div>

      <div class="next">
        <ul>
          <li><a class="btn05" href="#">次へ</a></li>
        </ul>
      </div>


    </main>


    <footer>
      <p class="footer01">#VariaFree</p>
      <p>2023 &copy; Copyright F group. ALL rights reserved.</p>
    </footer>

  </body>

</html>