<!DOCTYPE html>

<html lang="ja">

  <head>

    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Varia Free</title>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/reset.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/common.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/personal.css') }}">

    <!-- JQuery本体 CDN -->
    <!-- <script src="https://code.jquery.com/jquery-2.2.4.js" integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI=" crossorigin="anonymous"></script> -->

    <!-- jquery実行ファイル -->
    <!-- <script type="text/javascript" src="js/common.js"></script> -->
    <script>
      // 画像をクリックしたときにファイル選択ダイアログを開く
      function changeProfileImage() {
          document.getElementById('file-input').click();
      }

      // ファイルが選択されたときに実行される関数
      function handleFileSelect() {
          var fileInput = document.getElementById('file-input');
          var profileImage = document.getElementById('profile-image');
      }
  </script>
  </head>

  <body>
    <div id="wrap">

      <figure>
        <a href="{{ url_for('IndexPage') }}"><img src="../static/images/logo.png"></a>
      </figure>

      <form action="#" class="search-form-003">
        <label>
          <input type="text" placeholder="キーワードを入力">
        </label>
        <button type="submit" aria-label="検索"></button>
      </form>

      <nav>
        <ul>
          <li class="nav03"><a class="nav01" href="{{ url_for('MyPage') }}" >マイページ</a></li>
          <li class="nav03"><a class="nav01" href="{{ url_for('FavoritePage') }}">いいね一覧</a></li>
          <li><a class="nav02" href="{{ url_for('SellPage') }}">出品</a></li>
        </ul>
      </nav>

      <div id="sub_nav">
        <ul>
          <li><a href="{{ url_for('IndexPage') }}">おすすめ</a></li>
          <li><a href="{{ url_for('TrendPage') }}">トレンド</a></li>
        </ul>
      </div>

    </div>



    <div id="box">

      <nav id="third_nav">
        <ul>
          <li class="nav_title01">商品管理</li>
          <li><a href="favorite.html">いいね一覧</a></li>
          <li><a href="viewlog.html">閲覧履歴</a></li>
          <li><a href="{{ url_for('SellListPage') }}">出品した商品</a></li>
          <li><a href="{{ url_for('BuyListPage') }}">購入した商品</a></li>
          <li><a href="saved_search.html">保存した検索条件</a></li>
          <li><a href="{{ url_for('DraftPage') }}">下書き一覧</a></li>

          <li class="nav_title02">設定</li>
          <li><a href="{{ url_for('PersonalPage') }}">個人情報編集</a></li>
          <li><a href="layout.html">レイアウト編集</a></li>
          <li><a href="login.html">ログアウト</a></li>
        </ul>
      </nav>



      <main id="m-personal">
        <h1>アカウント</h1>

        <div class="prof-edit">
          <p class="edit-title">プロフィール編集</p>
          <div class="edit-image">
            <form action="/change_icon" method="post" enctype="multipart/form-data">
              <p class="photo">画像</p>
              <figure>
                {% if AccountInfo[1] != '未登録' %}
                <img src="{{ AccountInfo[1] }}" id="profile-image" onclick="changeProfileImage()" alt="プロフィール画像">
                {% elif AccountInfo[1] == '未登録' %}
                <img src="static/images/icon/default_icon.png"  id="profile-image" onclick="changeProfileImage()" alt="初期画像">
                {% endif %}
                <input type="file" name="icon" id="file-input" style="display:none" accept="image/*" onchange="handleFileSelect()" required>
              </figure>
              <button type="submit">変更する</button>
            </form>
          </div>

          <div class="edit-nickname">
            <p class="txt">ニックネーム</p>
              <form action="/change_username" method="post">
              <input type="text" class="textbox-001" name="username" placeholder="ニックネーム" value="{{ AccountInfo[0] }}">
              <button type="submit">変更する</button>
              {% if error %}
              <p style="color:#f00;">{{ error }}</p>
              {% endif %}
            </form>
          </div>
        </div>


        <div class="address-edit">
          <p class="edit-title">住所一覧</p>
          <div class="address-box">

            {% if AddressInfo == None %}
            <p class="address-name">未登録</p>
            <form action="/add_address" method="post">
              <input type="text" placeholder="郵便番号" name="post">
              <input type="text" placeholder="住所" name="address">
              <button type="submit">追加</button>
            </form>
            {% else %}
            <p class="address-name">家</p>
            <p class="post-code"><span>&#12306;</span>{{ AddressInfo[1] }}</p>
            <p class="address">{{ AddressInfo[0] }}</p>
            {% endif %}

          </div>
        </div>


        <div class="mail-edit">
          <p class="edit-title" style="text-decoration: line-through;">メール・パスワード</p>

          <p class="txt">メールアドレス</p>
          <input type="text" class="textbox-001" placeholder="メールアドレス" value="{{ MailAddress }}"/>

          <p class="txt">現在のパスワード</p>
          <input type="text" class="textbox-001" placeholder="現在のパスワード"/>

          <p class="txt">新しいのパスワード</p>
          <input type="text" class="textbox-001" placeholder="新しいパスワード"/>

          <p class="txt">新しいのパスワード確認</p>
          <input type="text" class="textbox-001" placeholder="新しいパスワード確認"/>
        </div>


        <div class="personal-edit">
          <h2>個人情報</h2>
          {% if AccountInfo[2] and AccountInfo[4] and AccountInfo[5] and AddressInfo[0] %}
          <p class="edit-title" style="text-decoration: line-through;">氏名・生年月日・住所</p>
          <p>氏名・生年月日</p>
          <div class="personal-name">
            <p class="name">{{ AccountInfo[4] }}</p>
            <p>（<span class="katakana">{{ AccountInfo[5] }}</span>）</p>
          </div>
          <div>
            <p class="year"></p>
            <p class="month"></p>
            <p class="day"></p>
          </div>
          <p>{{ AccountInfo[2] }}</p>

          <p>現住所</p>
          <p>{{ AddressInfo[0] }}</p>
          {% endif %}
        </div>

        <div class="gender-edit">
          <p class="edit-title" style="text-decoration: line-through;">性別</p>
          <label class="selectbox">
          <select>
            <option hidden>選択してください</option>
            <option>男性</option>
            <option>女性</option>
            <option>その他</option>
          </select>
        </label>
        </div>

      </main>

    </div>


    <footer>
      <p class="footer01">#VariaFree</p>
      <p>2023 &copy; Copyright F group. ALL rights reserved.</p>
    </footer>

  </body>

</html>