<!DOCTYPE html>

<html lang="ja">

  <head>

    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Varia Free</title>

    <link rel="stylesheet" type="text/css" href="css/reset.css">
    <link rel="stylesheet" type="text/css" href="css/common.css">
    <link rel="stylesheet" type="text/css" href="css/personal.css">

    <!-- JQuery本体 CDN -->
    <!-- <script src="https://code.jquery.com/jquery-2.2.4.js" integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI=" crossorigin="anonymous"></script> -->

    <!-- jquery実行ファイル -->
    <!-- <script type="text/javascript" src="js/common.js"></script> -->

  </head>

  <body>
    <div id="wrap">

      <figure>
        <a href="index.html"><img src="images/logo.png"></a>
      </figure>

      <form action="#" class="search-form-003">
        <label>
          <input type="text" placeholder="キーワードを入力">
        </label>
        <button type="submit" aria-label="検索"></button>
      </form>

      <nav>
        <ul>
          <li class="nav03"><a class="nav01" href="mypage.html">マイページ</a></li>
          <li class="nav03"><a class="nav01" href="favorite.html">いいね一覧</a></li>
          <li><a class="nav02" href="sell.html">出品</a></li>
        </ul>
      </nav>

      <div id="sub_nav">
        <ul>
          <li><a href="index.html">おすすめ</a></li>
          <li><a href="#">トレンド</a></li>
        </ul>
      </div>

    </div>



    <div id="box">

      <nav id="third_nav">
        <ul>
          <li class="nav_title01">商品管理</li>
          <li><a href="favorite.html">いいね一覧</a></li>
          <li><a href="viewlog.html">閲覧履歴</a></li>
          <li><a href="sell_list.html">出品した商品</a></li>
          <li><a href="buy_list.html">購入した商品</a></li>
          <li><a href="saved_search.html">保存した検索条件</a></li>
          <li><a href="#">下書き一覧</a></li>

          <li class="nav_title02">設定</li>
          <li><a href="personal.html">個人情報編集</a></li>
          <li><a href="layout.html">レイアウト編集</a></li>
          <li><a href="login.html">ログアウト</a></li>
        </ul>
      </nav>



      <main id="m-personal">
        <h1>アカウント</h1>

        <div class="prof-edit">
          <p class="edit-title">プロフィール編集</p>
          <p class="photo">画像</p>
          <figure>
            <img src="images/icon.png">
          </figure>
          <p class="txt">ニックネーム</p>
          <input type="text" class="textbox-001" placeholder="ニックネーム" value="田中正造" />
        </div>


        <div class="address-edit">
          <p class="edit-title">住所一覧</p>
          <div class="address-box">
            <p class="address-name">国会議事堂</p>
            <p class="post-code"><span>&#12306;</span>100-0014</p>
            <p class="address">東京都 千代田区 永田町1-7-1</p>
          </div>
          <a href="#">&plus; 新しい住所を登録</a>
        </div>


        <div class="mail-edit">
          <p class="edit-title">メール・パスワード</p>

          <p class="txt">メールアドレス</p>
          <input type="text" class="textbox-001" placeholder="メールアドレス" value="HalNagoya@gmail.com"/>

          <p class="txt">現在のパスワード</p>
          <input type="text" class="textbox-001" placeholder="現在のパスワード"/>

          <p class="txt">新しいのパスワード</p>
          <input type="text" class="textbox-001" placeholder="新しいパスワード"/>

          <p class="txt">新しいのパスワード確認</p>
          <input type="text" class="textbox-001" placeholder="新しいパスワード確認"/>
        </div>


        <div class="personal-edit">
          <h2>個人情報</h2>
          <p class="edit-title">氏名・生年月日・住所</p>
          <p>氏名・生年月日</p>
          <div class="personal-name">
            <p class="name">姓名</p>
            <p>（<span class="katakana">セイメイ</span>）</p>
          </div>
          <div>
            <p class="year"></p>
            <p class="month"></p>
            <p class="day"></p>
          </div>
          <p>YYYY/MM/DD</p>

          <p>現住所</p>
          <p>東京都</p>
        </div>

        <div class="gender-edit">
          <p class="edit-title">性別</p>
          <label class="selectbox">
          <select>
            <option hidden>選択してください</option>
            <option>男性</option>
            <option>女性</option>
            <option>カスタム</option>
          </select>
        </label>
        </div>

      </main>

    </div>


    <footer>
      <p class="footer01">#VariaFree</p>
      <p>2023 &copy; Copyright F group. ALL rights reserved.</p>
    </footer>

  </body>

</html>