<!DOCTYPE html>

<html lang="ja">

  <head>

    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Varia Free</title>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/reset.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/common.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/product.css') }}">

    <!-- JQuery本体 CDN -->
    <!-- <script src="https://code.jquery.com/jquery-2.2.4.js" integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI=" crossorigin="anonymous"></script> -->

    <!-- jquery実行ファイル -->
    <!-- <script type="text/javascript" src="js/common.js"></script> -->

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css">
  </head>

  <body>
    <div id="wrap">
      <figure>
        <a href="{{ url_for('IndexPage') }}"><img src="../static/images/logo.png"></a>
      </figure>

      <form action="#" class="search-form-003">
        <label>
          <input type="text" placeholder="キーワードを入力">
        </label>
        <button type="submit" aria-label="検索"></button>
      </form>

      <nav>
        <ul>
          <li class="nav03"><a class="nav01" href="{{ url_for('MyPage') }}" >マイページ</a></li>
          <li class="nav03"><a class="nav01" href="{{ url_for('FavoritePage') }}">いいね一覧</a></li>

          <li><a class="nav02" href="{{ url_for('SellPage') }}">出品</a></li>
        </ul>
      </nav>

      <div id="sub_nav">
        <ul>
          <li><a href="{{ url_for('IndexPage') }}">おすすめ</a></li>
          <li><a href="{{ url_for('TrendPage') }}">トレンド</a></li>
        </ul>
      </div>
    </div>


    <div class="slide_con">

      <div class="slide_box">
        <ul class="slide">
          {% for img in imgs %}
          <li class="item"><img src="../{{ img }}" alt="slide商品画像"></li>
          {% endfor %}
        </ul>
        <ul class="slide-navigation">
          {% for img in imgs %}
          <li class="item"><img src="../{{ img }}" alt="nav商品画像"></li>
          {% endfor %}
        </ul>
      </div>

      <div class="intro">
        <p class="intro_name">{{ name }}</p>
        <span>¥ {{ price }}</span>
        <div class="intro_detail_box">
          <p class="intro_detail">※こちらの価格には消費税、送料が含まれています。</p>
        </div>

        <div class="shopping">
          <!-- formタグ, buttonタグへ変更 -->
          <form action="/buy/" method="post">
            <input type="hidden" name="sellid" value="{{ sellid }}">
            <button type="submit" >購入手続きへ</button>
          </form>
          <!-- <a href="pay_comp.html">
            <p>購入手続きへ</p>
            <div class="plus-box">
               <span class="dli-plus"></span>
            </div>
          </a> -->
        </div>

        <div id="product-info">
          <h3>商品状態</h3>
          <div class="info-detail">
            <p class="info01">カテゴリー</p>
            <p class="info02">{{ scategory }}</p>
          </div>
          <div class="info-detail">
            <p class="info01">商品状態</p>
            <p class="info02">{{ status }}</p>
          </div>

          <!-- 配送料負担者の設定 未開発!!! -->
          <div class="info-detail">
            <p class="info01">配送料の負担</p>
            <p class="info02">出品者負担</p>
          </div>

          <!-- 配達方法の設定 未開発!!! -->
          <div class="info-detail">
            <p class="info01">配送方法</p>
            <p class="info02">普通郵便</p>
          </div>
        </div>

        <div id="sell">
          <h4>出品者</h4>
          <div class="sell-info">
            <!-- アイコン表示 未開発!!! -->
            <img src="../static/images/profile.png" alt="ドラえもん">

            <div class="sell-info-detail">
              <p>{{ sell_acc[1] }}</p>
              <div class="rate-form">
                {% for i in range(5) %}
                  {% if i < 5 - avg_evalate %}
                  <label style="color:#ccc;">★</label>
                  {% else %}
                  <label style="color:#ffcc00;">★</label>
                  {% endif %}
                {% endfor %}
              </div>
            </div>

          </div>
        </div>

      </div>
    </div>

    <!-- <div style="width:500px;">
      <canvas id="chart"></canvas>
    </div> -->

    <div id="chat">

      <!-- チャット機能 未開発!!! -->
      <h5>コメント</h5>
      <div class="chat-box">
        <p>未開発</p>
        <!-- <div class="left-chat">
          <figure>
            <img src="../static/images/profile.png">
          </figure>
          <div class="balloon1-left">
            <p>初めまして。購入を考えているのですが、少しだけ値下げは可能でしょうか?</p>
            <span>8時間前</span>
          </div>
        </div>

        <div class="right-chat">
          <div class="balloon1-right">
            <p>こんにちは。プロフィールにも記載していますが、値下げは考えておりません。</p>
            <span>3時間前</span>
          </div>
          <figure>
            <img src="../static/images/profile.png">
          </figure>
        </div>

        <div class="left-chat">
          <figure>
            <img src="../static/images/profile.png">
          </figure>
          <div class="balloon1-left">
            <p>そうですか、わかりました。</p>
            <span>3時間前</span>
          </div>
        </div> -->

      </div>

    </div>

    <div id="related-box">

      <main class="product_area">
        <h2>おすすめ商品</h2>

        <div class="wrap_product_02">
          {% for row in sells %}
          <div class="product">
            <a href="{{ url_for('ProductPage', sellid=row[0]) }}">
              <figure>
                <img src="../{{ row[3] }}" alt="sellimg" width="215px">
              </figure>
                <p>{{ row[1] }}</p>
                <span>{{ row[2] }}</span>
            </a>
          </div>
          {% endfor %}
        </div>
      </main>

    </div>

    <footer>
      <p class="footer01">#VariaFree</p>
      <p>2023 &copy; Copyright F group. ALL rights reserved.</p>
    </footer>

  </body>

  <!-- gift 数字カウント -->
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

<!-- スライドショー -->
<script type="text/javascript" src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>
<script src="js/product.js"></script>


<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js"></script>
<script src="js/polyline.js"></script>


</html>