<!DOCTYPE html>

<html lang="ja">

  <head>

    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Sign Up</title>

    <link rel="stylesheet" type="text/css" href="css/reset.css">
    <link rel="stylesheet" type="text/css" href="css/registration.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/reset.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/registration.css') }}">

    <!-- JQuery本体 CDN -->
    <!-- <script src="https://code.jquery.com/jquery-2.2.4.js" integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI=" crossorigin="anonymous"></script> -->

    <!-- jquery実行ファイル -->
    <!-- <script type="text/javascript" src="js/common.js"></script> -->

  </head>

  <body>

    <div id="wrap">
      <div class="title">
        <h1>Sign Up<span>新規会員登録</span></h1>
        <section id="Login">
          <form class="registration" method="post" action="/register/">


            <div class="left">
              <div class="right-con">
                <div class="right-detail">
                  <h3>ご登録済みの方</h3>
                  <p>お買い物にはログインが必要です</p>
                  <div class="next-btn">
                    <a href="{{ url_for('LoginPage') }}">ログインする</a>
                  </div>
                </div>
              </div>
            </div>



            <div class="right">
              <div class="left-con">
                <div class="left-detail">
                  <!-- <h2>会員登録がお済みのお客様</h2> -->
                  <div class="email-box">
                    <p>ユーザーネーム</p>
                    <input type="text" name="username" id="username" required="required" placeholder="ユーザーネームを入力して下さい">
                  </div>

                  <div class="email-box">
                    <p>メールアドレス</p>
                    <input type="text" name="email" id="email" required="required" placeholder="メールアドレスを入力して下さい">
                  </div>

                  <div class="password-box">
                    <p>パスワード</p>
                    <input type="password" name="password" id="password" required="required" placeholder="パスワードを入力して下さい">
                  </div>

                  <!-- エラーメッセージの追加 -->
                  {% if MailMessage %}
                  <!-- スタイルタグでCSS付けてるから変更してもOK -->
                  <p style="color: red; text-align: center; font-weight: bold;">{{ MailMessage }}</p>
                  {% endif %}

                  <div class="btn-box">
                    <input type="submit" value="登録する" id="btn">
                  </div>
                </div>
              </div>
            </div>


          </form>
        </section>
      </div>
    </div>



  </body>

</html>