<!DOCTYPE html>

<html lang="ja">

  <head>

    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Sign Up</title>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/reset.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/registration.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/registration_modal.css') }}">

    <!-- <script src="{{ url_for('static', filename='js/register.js') }}"></script> -->

    <!-- JQuery本体 CDN -->
    <script src="https://code.jquery.com/jquery-2.2.4.js" integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI=" crossorigin="anonymous"></script>

    <!-- jquery実行ファイル -->
    <script src="{{ url_for('static', filename='js/common.js') }}"></script>
    
    <script>
      function upDisp(){
        var username = document.querySelector('[name="username"]').value;
        var email = document.querySelector('[name="email"]').value;
        var password = document.querySelector('[name="password"]').value;

        document.getElementById('disp_usename').innerText = username;
        document.getElementById('disp_email').innerText = email;
        document.getElementById('disp_password').innerText = password;
    
        document.getElementById('hide_usename').value = username;
        document.getElementById('hide_email').value = email;
        document.getElementById('hide_password').value = password;
      }
    </script>

  </head>

  <body>

    <div id="wrap">
      <div class="title">
        <h1>Sign Up<span>新規会員登録</span></h1>
        <section id="Login">
          <form class="registration" name="RegistrationForm" method="post" action="/register/" onsubmit="event.preventDefault();">


            <div class="left">
              <div class="right-con">
                <div class="right-detail">
                  <h3>ご登録済みの方</h3>
                  <p>お買い物にはログインが必要です</p>
                  <div class="next-btn">
                    <a href="{{ url_for('LoginPage') }}">ログインする</a>
                  </div>
                </div>
              </div>
            </div>



            <div class="right">
              <div class="left-con">
                <div class="left-detail">
                  <!-- <h2>会員登録がお済みのお客様</h2> -->
                  <div class="email-box">
                    <p>ユーザーネーム</p>
                    <input type="text" name="username" id="username" required="required" placeholder="ユーザーネームを入力して下さい" oninput="upDisp()">
                  </div>

                  <div class="email-box">
                    <p>メールアドレス</p>
                    <input type="email" name="email" id="email" required="required" placeholder="メールアドレスを入力して下さい" oninput="upDisp()">
                  </div>

                  <div class="password-box">
                    <p>パスワード</p>
                    <input type="password" name="password" id="password" required="required" placeholder="パスワードを入力して下さい" oninput="upDisp()">
                  </div>

                  <!-- エラーメッセージの追加 -->
                  {% if MailMessage %}
                  <!-- スタイルタグでCSS付けてるから変更してもOK -->
                  <p style="color: red; text-align: center; font-weight: bold;">{{ MailMessage }}</p>
                  {% endif %}

                  <!-- <div class="btn-box">
                    <input type="submit" value="登録する" id="btn" onclick="confirmRegistration();">
                  </div> -->
                  <div class="btn-box">
                    <button type="button" id="openModal">内容を確認する</button>
                  </div>
                </div>
              </div>
            </div>


          </form>
        </section>
      </div>
    </div>

  <!-- モーダルエリアここから -->
  <div id="modalArea" class="modalArea">
    <div id="modalBg" class="modalBg"></div>
    <div class="modalWrapper">
      <div class="modalContents">
        <h2>登録内容確認</h2>
        <form action="/register/" method="post">
          <table>

            <tr>
              <th>ユーザーネーム</th>
              <td class="content01" id="disp_usename"></td>
              <input type="hidden" id="hide_usename" name="username" required>
              
            </tr>
            <tr>
              <th>メールアドレス</th>
              <td class="content02" id="disp_email"></td>
              <input type="hidden" id="hide_email" name="email" required>
              
            </tr>
            <tr>
              <th>パスワード</th>
              <td class="content03" id="disp_password"></td>
              <input type="hidden" id="hide_password" name="password" required>
            </tr>

          </table>
          
          <div class="btn-confirm">
            <!-- <input type="submit" value="戻る" id="btn"> -->
            <a href="{{ url_for('RegistrationPage') }}">戻る</a>
            <input type="submit" value="登録する" id="btn">
          </div>
          
        </form>

      </div>
      <div id="closeModal" class="closeModal">
        ×
      </div>
    </div>
  </div>
  <!-- モーダルエリアここまで -->

  </body>
  <script src="{{ url_for('static', filename='js/regist_modal.js') }}"></script>

</html>