<!DOCTYPE html>

<html lang="ja">

  <head>

    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Varia Free</title>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/reset.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/common.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/saved_search.css') }}">

    <!-- google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+New:wght@500&display=swap" rel="stylesheet">

    <!-- JQuery本体 CDN -->
    <script src="https://code.jquery.com/jquery-2.2.4.js" integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI=" crossorigin="anonymous"></script>

    <!-- jquery実行ファイル -->
    <!-- <script type="text/javascript" src="js/common.js"></script> -->

  </head>

  <body>
    
    <nav id="main-nav">
      <div class="main-nav-box">
        <div class="left-nav">
          <figure id="prof_icon">
            <a class="" href="{{ url_for('MyPage') }}">
              {% if icon != None %}
              <!-- css -->
              <img src="{{ icon }}" id="profile-image" alt="プロフィール画像">
              {% elif icon == None %}
              <!-- css -->
              <img src="static/images/icon/default_icon.png"  id="profile-image" alt="初期画像">
              {% endif %}
            </a>
          </figure>
          <p>{{ UserName }}様</p>
        </div>

        <figure>
          <a href="{{ url_for('IndexPage') }}"><img src="../static/images/title111.svg"></a>
        </figure>
        <div class="right-nav">
          <ul>
            <!-- <li class="underline"><a href="" id="hoverButton">テーブル</a></li> -->
            <li class="underline"><p id="hoverButton">カテゴリ</p></li>
            <li class="underline"><a class="nav-maypage" href="{{ url_for('MyPage') }}">マイページ</a></li>
            <li><img id="navbtn" src="../static/images/magnifying-glass-light.svg"></li>
            <!--<li><a href="{{ url_for('FavoritePage') }}"><img src="../static/images/heart-light.svg"></a></li>-->
            <li><a href="{{ url_for('FavoritePage') }}"><img class="book-mark" src="../static/images/bookmarks-light.svg"></a></li>
            <li><a class="nav-sell" href="{{ url_for('SellPage') }}" id="btn">出品</a></li>
          </ul>
        </div>
      </div>
    </nav>


    <div class="search-box">
      <img id="closebtn" src="../static/images/x01.svg">
      <!-- <img id="closebtn" src="images/x.svg"> -->
      <div class="search-wrap">
        <div class="search-title">
          <h1>SEARCH</h1>
          <p class="sub-sea">商品を探す</p>
        </div>
        <form action="/search"  method="post" class="search-form-4">
          <label>
            <input type="text" name="search_word" id="searchInput" autocomplete="off" placeholder="お探しの商品・キーワードをご入力ください">
            <button type="submit">検索</button>
          </label>
        </form>
      </div>

      <form action="/search" method="post">
        <ul>
          {% for word in words %}
          <li>
            <!-- <button type="submit" value="{{ word }}" name="delete">&#10005;</button> -->
            <button type="submit" value="{{ word }}" name="search_word">{{ word }}</button>
          </li>
          {% endfor %}
        </ul>
      </form>
    </div>

    <div class="cate-box">
      <img id="cate_closebtn" src="../static/images/x01_cate.svg">
      <div class="cate-wrap">
        <div class="cate-title">
          <h1>CATEGORY</h1>
          <p class="sub-cate">商品を探す</p>
        </div>
        <div class="tab">
          <ul class="tab-list">
            <li class="tab-list-item is-btn-active">レディース</li>
            <li class="tab-list-item">メンズ</li>
            <li class="tab-list-item">インテリア/家電</li>
            <li class="tab-list-item">ホビー</li>
            <li class="tab-list-item">その他</li>
          </ul>

          <!-- コンテンツを構成するブロック -->
          <div class="tab-contents-wrap">

            <form action="/category_search" method="post">
              <div class="tab-contents is-contents-active">
                <div class="women-box">
                  <ul>
                    <li class="m-cate01">
                      <p class="cateTitle">レディース</p>
                      <!-- <div class="s-category">
                        <span>トップス</span>
                        <span>パンツ</span>
                        <span>シューズ</span>
                        <span>バッグ</span>
                        <span>アクセサリー</span>
                        <span>ファッション小物</span>
                      </div> -->
                      <div class="s-category">
                        <span><button type="submit" name="select" value="1">トップス</button></span>
                        <span><button type="submit" name="select" value="3">パンツ</button></span>
                        <span><button type="submit" name="select" value="5">シューズ</button></span>
                        <span><button type="submit" name="select" value="7">バッグ</button></span>
                        <span><button type="submit" name="select" value="9">アクセサリー</button></span>
                        <span><button type="submit" name="select" value="11">ファッション小物</button></span>
                      </div>
                    </li>
                    <li class="m-cate02">
                      <p class="cateTitle">ベビー・キッズ</p>
                      <div class="s-category">
                        <span><button type="submit" name="select" value="13">ベビー服</button></span>
                        <span><button type="submit" name="select" value="14">キッズ服</button></span>
                        <span><button type="submit" name="select" value="15">キッズシューズ</button></span>
                      </div>
                    </li>
                    <li class="m-cate03">
                      <p class="cateTitle">コスメ/香水/美容</p>
                      <div class="s-category">
                        <span><button type="submit" name="select" value="32">スキンケア</button></span>
                        <span><button type="submit" name="select" value="33">ボディケア</button></span>
                        <span><button type="submit" name="select" value="34">ヘアケア</button></span>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>

              <div class="tab-contents">
                <div class="men-box">
                  <ul>
                    <li class="m-cate01">
                      <p class="cateTitle">メンズ</p>
                      <div class="s-category">
                        <span><button type="submit" name="select" value="2">トップス</button></span>
                        <span><button type="submit" name="select" value="4">パンツ</button></span>
                        <span><button type="submit" name="select" value="6">シューズ</button></span>
                        <span><button type="submit" name="select" value="8">バッグ</button></span>
                        <span><button type="submit" name="select" value="10">アクセサリー</button></span>
                        <span><button type="submit" name="select" value="12">ファッション小物</button></span>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>

              <div class="tab-contents">
                <div class="day-box">
                  <ul>
                    <li class="m-cate01">
                      <p class="cateTitle">インテリア/住まい/小物</p>
                      <div class="s-category">
                        <span><button type="submit" name="select" value="17">キッチン/食器</button></span>
                        <span><button type="submit" name="select" value="18">家具/収納</button></span>
                        <span><button type="submit" name="select" value="19">カーペット</button></span>
                        <span><button type="submit" name="select" value="20">カーテン</button></span>
                        <span><button type="submit" name="select" value="21">ライト</button></span>
                        <span><button type="submit" name="select" value="22">インテリア小物</button></span>
                      </div>
                    </li>
                    <li class="m-cate02">
                      <p class="cateTitle">家電/スマホ/カメラ</p>
                      <div class="s-category">
                        <span><button type="submit" name="select" value="35">スマートフォン</button></span>
                        <span><button type="submit" name="select" value="36">PC</button></span>
                        <span><button type="submit" name="select" value="37">カメラ</button></span>
                        <span><button type="submit" name="select" value="38">テレビ</button></span>
                        <span><button type="submit" name="select" value="39">オーディオ</button></span>
                        <span><button type="submit" name="select" value="40">生活家電</button></span>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>

              <div class="tab-contents">
                <div class="hobby-box">
                  <ul>
                    <li class="m-cate01">
                      <p class="cateTitle">おもちゃ/ホビー/グッズ</p>
                      <div class="s-category">
                        <span><button type="submit" name="select" value="27">おもちゃ</button></span>
                        <span><button type="submit" name="select" value="28">コミック/アニメグッズ</button></span>
                      </div>
                    </li>
                    <li class="m-cate02">
                      <p class="cateTitle">本/音楽/ゲーム</p>
                      <div class="s-category">
                        <span><button type="submit" name="select" value="23">本</button></span>
                        <span><button type="submit" name="select" value="24">CD</button></span>
                        <span><button type="submit" name="select" value="25">DVD</button></span>
                        <span><button type="submit" name="select" value="26">テレビゲーム</button></span>
                        <span><button type="submit" name="select" value="29">楽器/機材</button></span>
                      </div>
                    </li>
                    <li class="m-cate03">
                      <p class="cateTitle">スポーツ/レジャー</p>
                      <div class="s-category">
                        <span><button type="submit" name="select" value="41">ゴルフ</button></span>
                        <span><button type="submit" name="select" value="42">釣り</button></span>
                        <span><button type="submit" name="select" value="43">野球</button></span>
                        <span><button type="submit" name="select" value="44">サッカー</button></span>
                        <span><button type="submit" name="select" value="45">テニス</button></span>
                        <span><button type="submit" name="select" value="46">スノーボード</button></span>
                        <span><button type="submit" name="select" value="47">アウトドア</button></span>
                      </div>
                    </li>
                    <li class="m-cate04">
                      <p class="cateTitle">ハンドメイド</p>
                      <div class="s-category">
                        <span><button type="submit" name="select" value="48">アクセサリー</button></span>
                        <span><button type="submit" name="select" value="49">ファッション/小物</button></span>
                        <span><button type="submit" name="select" value="50">時計</button></span>
                        <span><button type="submit" name="select" value="51">インテリア</button></span>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>

              <div class="tab-contents">
                <div class="other-box">
                  <ul>
                    <li class="m-cate01">
                      <p class="cateTitle">チケット</p>
                      <div class="s-category">
                        <span><button type="submit" name="select" value="52">音楽</button></span>
                        <span><button type="submit" name="select" value="53">スポーツ</button></span>
                        <span><button type="submit" name="select" value="54">演劇</button></span>
                        <span><button type="submit" name="select" value="55">映画</button></span>
                        <span><button type="submit" name="select" value="56">優待券</button></span>
                      </div>
                    </li>
                    <li class="m-cate02">
                      <p class="cateTitle">その他</p>
                      <div class="s-category">
                        <span><button type="submit" name="select" value="57">ペット用品</button></span>
                        <span><button type="submit" name="select" value="58">食品</button></span>
                        <span><button type="submit" name="select" value="59">日用品</button></span>
                        <span><button type="submit" name="select" value="60">事務用品</button></span>
                        <span><button type="submit" name="select" value="61">その他</button></span>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </form>
            
          </div>
        </div>
      </div>
    </div>

    <!-- 絶対に消すな -->
    <div id="kesuna"></div>
    <!-- 絶対に消すな -->


    <div id="box">

      <nav id="third_nav">
        <ul>
          <li class="nav_title01">商品管理</li>
          <li><a href="{{ url_for('FavoritePage') }}">ブックマーク一覧</a></li>
          <li><a href="{{ url_for('ViewlogPage') }}">閲覧履歴</a></li>
          <li><a href="{{ url_for('SellListPage') }}">出品した商品</a></li>
          <li><a href="{{ url_for('BuyListPage') }}">購入した商品</a></li>
          <li><a href="{{ url_for('SavesearchPage') }}">保存した検索条件</a></li>
          <li><a href="{{ url_for('DraftPage') }}">下書き一覧</a></li>

          <li class="nav_title02">設定</li>
          <li><a href="{{ url_for('PersonalPage') }}">個人情報編集</a></li>
          <li><a href="{{ url_for('LayoutPage') }}">レイアウト編集</a></li>
          <li><a href="{{ url_for('Logout') }}">ログアウト</a></li>
        </ul>
      </nav>

      <main id="m-saved_search">
        <h1>保存した検索条件</h1>
        <div id="saved-product-box">



          <div class="saved-box">
            <div class="saved-title-box">
              <a href="#">
                <p class="saved-title">ソードアートオンライン</p>
              </a>

              <a href="#">
                <p class="more">すべて見る</p>
              </a>
            </div>

            <div class="wrap-saved-product">
              <div class="saved-product">
                <a href="#">
                  <figure>
                    <img src="../static/images/saved-photo01.png">
                  </figure>
                  <p>劇場版ソード・アート・オンラインプログレッシブ冥き夕闇のスケルツォ 来場者特典</p>
                  <div class="price-box">
                    <span class="mark">¥</span><span class="price">6000</span>
                  </div>
                </a>
              </div>

              <div class="saved-product">
                <a href="#">
                  <figure>
                    <img src="../static/images/saved-photo02.png">
                  </figure>
                  <p>✩.* 非売品 未使用 劇場版 ソードアート・オンライン イラストカード ✩.*</p>
                  <div class="price-box">
                    <span class="mark">¥</span><span class="price">1000</span>
                  </div>
                </a>
              </div>

              <div class="saved-product">
                <a href="#">
                  <figure>
                    <img src="../static/images/saved-photo03.png">
                  </figure>
                  <p>劇場版 ソードアート・オンライン プログレッシブ 入場特典 ポストカード</p>
                  <div class="price-box">
                    <span class="mark">¥</span><span class="price">1200</span>
                  </div>
                </a>
              </div>

              <div class="saved-product">
                <a href="#">
                  <figure>
                    <img src="../static/images/saved-photo04.png">
                  </figure>
                  <p>ソードアート・オンライン プログレッシブ 5</p>
                  <div class="price-box">
                    <span class="mark">¥</span><span class="price">400</span>
                  </div>
                </a>
              </div>

              <div class="saved-product">
                <a href="#">
                  <figure>
                    <img src="../static/images/saved-photo05.png">
                  </figure>
                  <p>ソードアート・オンライン プログレッシブ 4</p>
                  <div class="price-box">
                    <span class="mark">¥</span><span class="price">400</span>
                  </div>
                </a>
              </div>

            </div>
          </div>



          <div class="saved-box">
            <div class="saved-title-box">
              <a href="#">
                <p class="saved-title">タンブラー</p>
              </a>

              <a href="#">
                <p class="more">すべて見る</p>
              </a>
            </div>

            <div class="wrap-saved-product">
              <div class="saved-product">
                <a href="#">
                  <figure>
                    <img src="../static/images/saved-photo06.png">
                  </figure>
                  <p>スターバックス タンブラー，キャニスター</p>
                  <div class="price-box">
                    <span class="mark">¥</span><span class="price">4500</span>
                  </div>
                </a>
              </div>

              <div class="saved-product">
                <a href="#">
                  <figure>
                    <img src="../static/images/saved-photo07.png">
                  </figure>
                  <p>【未使用】スタバ ホリデー2021タンブラーパープル473ml</p>
                  <div class="price-box">
                    <span class="mark">¥</span><span class="price">1800</span>
                  </div>
                </a>
              </div>

              <div class="saved-product">
                <a href="#">
                  <figure>
                    <img src="../static/images/saved-photo08.png">
                  </figure>
                  <p>ハロウィン2023 タンブラーグローインザダーク355ml</p>
                  <div class="price-box">
                    <span class="mark">¥</span><span class="price">3850</span>
                  </div>
                </a>
              </div>

              <div class="saved-product">
                <a href="#">
                  <figure>
                    <img src="../static/images/saved-photo09.png">
                  </figure>
                  <p>ディズニー×スターバックス 【新品】スタバタンブラー水筒ミッキーボトルチップデール</p>
                  <div class="price-box">
                    <span class="mark">¥</span><span class="price">6699</span>
                  </div>
                </a>
              </div>

              <div class="saved-product">
                <a href="#">
                  <figure>
                    <img src="../static/images/saved-photo10.png">
                  </figure>
                  <p>オータム ディズニー ミッキー エルマ 473ml</p>
                  <div class="price-box">
                    <span class="mark">¥</span><span class="price">6780</span>
                  </div>
                </a>
              </div>

            </div>
          </div>



        </div>





        <!-- <div class="saved-box">
          <a href="#">
            <p class="saved-title">ソードアートオンライン</p>
          </a>

          <div class="wrap-saved-product">
            <div class="saved-product">
              <a href="">
                <figure>
                  <img src="images/doraemon.png">
                </figure>
                <p>VICKIE MINI SAFFIANO LEATHER〈ビッキー レザーミニトート〉ブラック</p>
                <span>¥18,700</span>
              </a>
            </div>

            <div class="saved-product">
              <a href="">
                <figure>
                  <img src="images/doraemon.png">
                </figure>
                <p>VICKIE MINI SAFFIANO LEATHER〈ビッキー レザーミニトート〉ブラック</p>
                <span>¥18,700</span>
              </a>
            </div>

            <div class="saved-product">
              <a href="">
                <figure>
                  <img src="images/doraemon.png">
                </figure>
                <p>VICKIE MINI SAFFIANO LEATHER〈ビッキー レザーミニトート〉ブラック</p>
                <span>¥18,700</span>
              </a>
            </div>

            <div class="saved-product">
              <a href="">
                <figure>
                  <img src="images/doraemon.png">
                </figure>
                <p>VICKIE MINI SAFFIANO LEATHER〈ビッキー レザーミニトート〉ブラック</p>
                <span>¥18,700</span>
              </a>
            </div>

            <div class="saved-product">
              <a href="">
                <figure>
                  <img src="images/doraemon.png">
                </figure>
                <p>VICKIE MINI SAFFIANO LEATHER〈ビッキー レザーミニトート〉ブラック</p>
                <span>¥18,700</span>
              </a>
            </div>

          </div>
        </div> -->




      </main>

    </div>


    <footer>
      <p class="footer01">#VariaFree</p>
      <p>2023 &copy; Copyright F group. ALL rights reserved.</p>
    </footer>

    <!-- レイアウト編集 -->
    {{ style | safe }}

  </body>
  <!-- 検索用 -->
  <script src="{{ url_for('static', filename='js/nav_search.js') }}"></script>

  <!-- カテゴリ-clickしたら開く用 -->
  <script src="{{ url_for('static', filename='js/category_click.js') }}"></script>
  
  <!-- カテゴリ用 -->
  <script src="{{ url_for('static', filename='js/category_tab.js') }}"></script>

</html>