<!DOCTYPE html>

<html lang="ja">

  <head>

    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Varia Free</title>

    <link rel="stylesheet" type="text/css" href="../static/css/reset.css">
    <link rel="stylesheet" type="text/css" href="../static/css/common.css">
    <link rel="stylesheet" type="text/css" href="../static/css/saved_search.css">

    <!-- JQuery本体 CDN -->
    <!-- <script src="https://code.jquery.com/jquery-2.2.4.js" integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI=" crossorigin="anonymous"></script> -->

    <!-- jquery実行ファイル -->
    <!-- <script type="text/javascript" src="js/common.js"></script> -->

  </head>

  <body>
    <div id="wrap">

      <figure>
        <a href="index.html"><img src="../static/images/logo.png"></a>
      </figure>

      <form action="#" class="search-form-003">
        <label>
          <input type="text" placeholder="キーワードを入力">
        </label>
        <button type="submit" aria-label="検索"></button>
      </form>

      <nav>
        <ul>
          <li class="nav03"><a class="nav01" href="mypage.html">マイページ</a></li>
          <li class="nav03"><a class="nav01" href="favorite.html">いいね一覧</a></li>
          <li><a class="nav02" href="sell.html">出品</a></li>
        </ul>
      </nav>

      <div id="sub_nav">
        <ul>
          <li><a href="index.html">おすすめ</a></li>
          <li><a href="#">トレンド</a></li>
        </ul>
      </div>

    </div>



    <div id="box">

      <nav id="third_nav">
        <ul>
          <li class="nav_title01">商品管理</li>
          <li><a href="favorite.html">いいね一覧</a></li>
          <li><a href="viewlog.html">閲覧履歴</a></li>
          <li><a href="sell_list.html">出品した商品</a></li>
          <li><a href="buy_list.html">購入した商品</a></li>
          <li><a href="saved_search.html">保存した検索条件</a></li>
          <li><a href="#">下書き一覧</a></li>

          <li class="nav_title02">設定</li>
          <li><a href="personal.html">個人情報編集</a></li>
          <li><a href="layout.html">レイアウト編集</a></li>
          <li><a href="login.html">ログアウト</a></li>
        </ul>
      </nav>

      <main id="m-saved_search">
        <h1>保存した検索条件</h1>
        <div id="saved-product-box">



          <div class="saved-box">
            <div class="saved-title-box">
              <a href="#">
                <p class="saved-title">ソードアートオンライン</p>
              </a>

              <a href="#">
                <p class="more">すべて見る</p>
              </a>
            </div>

            <div class="wrap-saved-product">
              <div class="saved-product">
                <a href="#">
                  <figure>
                    <img src="../static/images/saved-photo01.png">
                  </figure>
                  <p>劇場版ソード・アート・オンラインプログレッシブ冥き夕闇のスケルツォ 来場者特典</p>
                  <div class="price-box">
                    <span class="mark">¥</span><span class="price">6000</span>
                  </div>
                </a>
              </div>

              <div class="saved-product">
                <a href="#">
                  <figure>
                    <img src="../static/images/saved-photo02.png">
                  </figure>
                  <p>✩.* 非売品 未使用 劇場版 ソードアート・オンライン イラストカード ✩.*</p>
                  <div class="price-box">
                    <span class="mark">¥</span><span class="price">1000</span>
                  </div>
                </a>
              </div>

              <div class="saved-product">
                <a href="#">
                  <figure>
                    <img src="../static/images/saved-photo03.png">
                  </figure>
                  <p>劇場版 ソードアート・オンライン プログレッシブ 入場特典 ポストカード</p>
                  <div class="price-box">
                    <span class="mark">¥</span><span class="price">1200</span>
                  </div>
                </a>
              </div>

              <div class="saved-product">
                <a href="#">
                  <figure>
                    <img src="../static/images/saved-photo04.png">
                  </figure>
                  <p>ソードアート・オンライン プログレッシブ 5</p>
                  <div class="price-box">
                    <span class="mark">¥</span><span class="price">400</span>
                  </div>
                </a>
              </div>

              <div class="saved-product">
                <a href="#">
                  <figure>
                    <img src="../static/images/saved-photo05.png">
                  </figure>
                  <p>ソードアート・オンライン プログレッシブ 4</p>
                  <div class="price-box">
                    <span class="mark">¥</span><span class="price">400</span>
                  </div>
                </a>
              </div>

            </div>
          </div>



          <div class="saved-box">
            <div class="saved-title-box">
              <a href="#">
                <p class="saved-title">タンブラー</p>
              </a>

              <a href="#">
                <p class="more">すべて見る</p>
              </a>
            </div>

            <div class="wrap-saved-product">
              <div class="saved-product">
                <a href="#">
                  <figure>
                    <img src="../static/images/saved-photo06.png">
                  </figure>
                  <p>スターバックス タンブラー，キャニスター</p>
                  <div class="price-box">
                    <span class="mark">¥</span><span class="price">4500</span>
                  </div>
                </a>
              </div>

              <div class="saved-product">
                <a href="#">
                  <figure>
                    <img src="../static/images/saved-photo07.png">
                  </figure>
                  <p>【未使用】スタバ ホリデー2021タンブラーパープル473ml</p>
                  <div class="price-box">
                    <span class="mark">¥</span><span class="price">1800</span>
                  </div>
                </a>
              </div>

              <div class="saved-product">
                <a href="#">
                  <figure>
                    <img src="../static/images/saved-photo08.png">
                  </figure>
                  <p>ハロウィン2023 タンブラーグローインザダーク355ml</p>
                  <div class="price-box">
                    <span class="mark">¥</span><span class="price">3850</span>
                  </div>
                </a>
              </div>

              <div class="saved-product">
                <a href="#">
                  <figure>
                    <img src="../static/images/saved-photo09.png">
                  </figure>
                  <p>ディズニー×スターバックス 【新品】スタバタンブラー水筒ミッキーボトルチップデール</p>
                  <div class="price-box">
                    <span class="mark">¥</span><span class="price">6699</span>
                  </div>
                </a>
              </div>

              <div class="saved-product">
                <a href="#">
                  <figure>
                    <img src="../static/images/saved-photo10.png">
                  </figure>
                  <p>オータム ディズニー ミッキー エルマ 473ml</p>
                  <div class="price-box">
                    <span class="mark">¥</span><span class="price">6780</span>
                  </div>
                </a>
              </div>

            </div>
          </div>



        </div>





        <!-- <div class="saved-box">
          <a href="#">
            <p class="saved-title">ソードアートオンライン</p>
          </a>

          <div class="wrap-saved-product">
            <div class="saved-product">
              <a href="">
                <figure>
                  <img src="images/doraemon.png">
                </figure>
                <p>VICKIE MINI SAFFIANO LEATHER〈ビッキー レザーミニトート〉ブラック</p>
                <span>¥18,700</span>
              </a>
            </div>

            <div class="saved-product">
              <a href="">
                <figure>
                  <img src="images/doraemon.png">
                </figure>
                <p>VICKIE MINI SAFFIANO LEATHER〈ビッキー レザーミニトート〉ブラック</p>
                <span>¥18,700</span>
              </a>
            </div>

            <div class="saved-product">
              <a href="">
                <figure>
                  <img src="images/doraemon.png">
                </figure>
                <p>VICKIE MINI SAFFIANO LEATHER〈ビッキー レザーミニトート〉ブラック</p>
                <span>¥18,700</span>
              </a>
            </div>

            <div class="saved-product">
              <a href="">
                <figure>
                  <img src="images/doraemon.png">
                </figure>
                <p>VICKIE MINI SAFFIANO LEATHER〈ビッキー レザーミニトート〉ブラック</p>
                <span>¥18,700</span>
              </a>
            </div>

            <div class="saved-product">
              <a href="">
                <figure>
                  <img src="images/doraemon.png">
                </figure>
                <p>VICKIE MINI SAFFIANO LEATHER〈ビッキー レザーミニトート〉ブラック</p>
                <span>¥18,700</span>
              </a>
            </div>

          </div>
        </div> -->




      </main>

    </div>


    <footer>
      <p class="footer01">#VariaFree</p>
      <p>2023 &copy; Copyright F group. ALL rights reserved.</p>
    </footer>

  </body>

</html>