<!DOCTYPE html>

<html lang="ja">

  <head>
    
    <meta charset="utf-8">
    
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>Varia Free</title>
    
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/reset.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/common.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/sell_confirm.css') }}">
    
    <!-- JQuery本体 CDN -->
    <!-- <script src="https://code.jquery.com/jquery-2.2.4.js" integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI=" crossorigin="anonymous"></script> -->
    
    <!-- jquery実行ファイル -->
    <!-- <script type="text/javascript" src="js/common.js"></script> -->
    
  </head>

  <body>
    <div id="wrap">

        <figure>
          <a href="{{ url_for('IndexPage') }}"><img src="../static/images/logo.png"></a>
        </figure>
  
        <form action="#" class="search-form-003">
          <label>
            <input type="text" placeholder="キーワードを入力">
          </label>
          <button type="submit" aria-label="検索"></button>
        </form>
  
        <nav>
          <ul>
            <li class="nav03"><a class="nav01" href="{{ url_for('MyPage') }}" >マイページ</a></li>
            <li class="nav03"><a class="nav01" href="{{ url_for('FavoritePage') }}">いいね一覧</a></li>
            <li><a class="nav02" href="{{ url_for('SellPage') }}">出品</a></li>
          </ul>
        </nav>
  
        <div id="sub_nav">
          <ul>
            <li><a href="{{ url_for('IndexPage') }}">おすすめ</a></li>
            <li><a href="{{ url_for('TrendPage') }}">トレンド</a></li>
          </ul>
        </div>
  
      </div>
  


    <main id="m-sell">


      <h1>出品の確認</h1>
      <div class="sell-images">
        <p class="title">出品画像</p>

        <div class="img-confirm">
          <figure>
            <img src="{{ mainimg_path }}" alt="サムネイル画像">
            {% if imgs!= None %}
              {% for img in imgs  %}
              <img src="{{ img }}" alt="サブ画像">
              {% endfor %}
            {% endif %}
          </figure>
        </div>

        </div>


      </div>

      <div class="detail">
        <h2>商品の詳細</h2>
        <p class="title">カテゴリー</p>
        <ul>
          <li><a href="#">{{ sell_data[2] }}</a></li>
        </ul>

        <p class="title">商品の状態</p>
        <ul>
          <li>{{ sell_data[4] }}</li>
        </ul>
      </div>

      <div class="intro">
        <h3>商品名と説明</h3>
        <p class="title">商品名</p>
        <p class="product-title">{{ sell_data[0] }}</p>
        <p class="title">商品の説明</p>
        {% if sell_data[1] != None %}
        <p class="exp">{{ sell_data[1] }}</p>
        {% else %}
        <p class="exp">この商品の説明は未入力です...</p>
        {% endif %}
      </div>

      <div class="delivery">
        <h4>送料について</h4>
        <p class="title">出品者負担 出品する商品の重さ</p>
        <p class="omosa">{{ sell_data[3] }}</p>
      </div>

      <div class="price">
        <h5>販売価格</h5>
        <p class="title">販売価格(¥300〜9,999,999)</p>
        <p class="kibou-price">{{ sell_data[5] }}<span>円</span></p>
      </div>
      
      <div class="address">
        <h6>出品者の住所</h6>
        <p class="title">現在住所</p>

        {% if Address != None %}
        <p>郵便番号</p>
        <p class="now_address">{{ Address[0][1] }}</p>
        <p>住所</p>
        <p class="now_address">{{ Address[0][0] }}</p>
        <input type="checkbox" disabled checked>

        {% else %}

        <p class="now_address" style="color:#f00;">住所が登録されていません</p>
        <a href="{{ url_for('PersonalPage') }}" target="_blank">＋住所登録</a>

        <!-- <form action="/add_address" method="post">
          <label for="post">郵便番号</label><br>
          <input type="text" name="post" pattern="\d{3}-\d{4}" title="正しい郵便番号を入力してください(例: 123-4567)" required><br>
          <label for="address">住所</label><br>
          <input type="text" name="address" required><br>
          <button type="submit">登録</button>
          <input type="checkbox" disabled> -->
        </form>
        {% endif %}

      </div>

      <div class="sell">
        <ul>
          <form method="post" action="/sell/">
            <input type="hidden" name="sellimg-main" value="{{ form_data[0] }}">
            {% if form_data[1] != None %}
              {% for path in form_data[1] %}
                <input type="hidden" name="image_paths[]" value="{{ path }}">
              {% endfor %}
            {% endif %}
            <input type="hidden" name="selltit" value="{{ form_data[2] }}">
            <input type="hidden" name="overview" value="{{ form_data[3] }}">
            <input type="hidden" name="scategoryid" value="{{ form_data[4] }}">
            <input type="hidden" name="postage" value="{{ form_data[5] }}">
            <input type="hidden" name="status" value="{{ form_data[6] }}">
            <input type="hidden" name="price" value="{{ form_data[7] }}">
            
            {% if Address != None %}
            <li><button type="submit" name="sell_action" class="btn05" value="sell">出品する</button></li>
            {% else %}
            <li><button type="submit" name="sell_action" class="btn05" value="sell" style="text-decoration: line-through;" disabled>出品する</button></li>
            {% endif %}
            <li><button class="btn06"><a href="{{ url_for('SellPage') }}">入力画面に戻る</a></button></li>
            <li><button type="submit" name="sell_action" class="btn06" value="draft">下書きに保存する</button></li>
          </form>
        </ul>
      </div>

      
      
      
    </main>
    
    
    <footer>
      <p class="footer01">#VariaFree</p>
      <p>2023 &copy; Copyright F group. ALL rights reserved.</p>
    </footer>
    
  </body>

</html>