<!DOCTYPE html>

<html lang="ja">

  <head>

    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Varia Free</title>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/reset.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/common.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/sell_confirm.css') }}">

    <!-- JQuery本体 CDN -->
    <!-- <script src="https://code.jquery.com/jquery-2.2.4.js" integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI=" crossorigin="anonymous"></script> -->

    <!-- jquery実行ファイル -->
    <!-- <script type="text/javascript" src="js/common.js"></script> -->

  </head>

  <body>
    <div id="wrap">

        <figure>
          <a href="{{ url_for('IndexPage') }}"><img src="../static/images/logo.png"></a>
        </figure>
  
        <form action="#" class="search-form-003">
          <label>
            <input type="text" placeholder="キーワードを入力">
          </label>
          <button type="submit" aria-label="検索"></button>
        </form>
  
        <nav>
          <ul>
            <li class="nav03"><a class="nav01" href="{{ url_for('MyPage') }}" >マイページ</a></li>
            <li class="nav03"><a class="nav01" href="{{ url_for('FavoritePage') }}">いいね一覧</a></li>
            <li><a class="nav02" href="{{ url_for('SellPage') }}">出品</a></li>
          </ul>
        </nav>
  
        <div id="sub_nav">
          <ul>
            <li><a href="{{ url_for('IndexPage') }}">おすすめ</a></li>
            <li><a href="{{ url_for('TrendPage') }}">トレンド</a></li>
          </ul>
        </div>
  
      </div>
  


    <main id="m-sell">


      <h1>出品の確認</h1>

      <div class="sell-images">
        <p class="title">出品画像</p>

        <div class="img-confirm">
          <figure>
            <img src="../static/images/index03.png" alt="">
            <img src="../static/images/index04.png" alt="">
            <img src="../static/images/index02.png" alt="">
            <img src="../static/images/index09.png" alt="">
            <img src="../static/images/index06.png" alt="">
            <img src="../static/images/index01.png" alt="">
            <img src="../static/images/index02.png" alt="">
            <img src="../static/images/index05.png" alt="">
            <img src="../static/images/index07.png" alt="">
            <img src="../static/images/index08.png" alt="">
          </figure>
        </div>

        </div>


      </div>

      <div class="detail">
        <h2>商品の詳細</h2>
        <p class="title">カテゴリー</p>
        <ul>
          <li><a href="#">レディース</a></li>
          <li><a href="#">メンズ</a></li>
        </ul>

        <p class="title">商品の状態</p>
        <ul>
          <li>未使用に近い</li>
        </ul>
      </div>

      <div class="intro">
        <h3>商品名と説明</h3>
        <p class="title">商品名</p>
        <p class="product-title">ドラえもん</p>
        <p class="title">商品の説明</p>
        <p class="exp">2112年9月3日生まれの猫型ロボット。のび太の子孫・セワシとともに、22世紀からやってきた。おなかについた“四次元ポケット”から出る“ひみつ道具”でのび太を助けるのが使命だが、おっちょこちょいなところもあって、失敗をすることも…。のび太を守る保護者役でもあり、いっしょに遊んだりする親友のような存在でもある。ネズミが苦手で、ドラ焼きが大好物！</p>
      </div>

      <div class="delivery">
        <h4>送料について</h4>
        <p class="title">出品者負担 出品する商品の重さ</p>
        <p class="omosa">小（~ ３kg未満）</p>
      </div>

      <div class="price">
        <h5>販売価格</h5>
        <p class="title">販売価格(¥300〜9,999,999)</p>
        <p class="kibou-price">3333<span>円</span></p>
      </div>

      <div class="sell">
        <ul>
          <li><input class="btn05" type="submit" value="出品する"></li>
          <li><input class="btn06" type="button" value="入力画面に戻る"></li>
          <li><input class="btn06" type="button" value="下書きに保存する"></li>
        </ul>
      </div>


    </main>


    <footer>
      <p class="footer01">#VariaFree</p>
      <p>2023 &copy; Copyright F group. ALL rights reserved.</p>
    </footer>

  </body>

</html>