<!DOCTYPE html>

<html lang="ja">

  <head>

    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Varia Free</title> 

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/reset.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/common.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/sell.css') }}">

    <!-- google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+New:wght@500&display=swap" rel="stylesheet">

    <!-- JQuery本体 CDN -->
    <script src="https://code.jquery.com/jquery-2.2.4.js" integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI=" crossorigin="anonymous"></script>

    <!-- jquery実行ファイル -->
    <!-- <script type="text/javascript" src="js/common.js"></script> -->
  <script>
      var counter = 0; // カウンターを初期化

      function addInput() {
          if (counter >= 20) return; // 20個を超える場合は追加しない
          
          var container = document.getElementById("container");
          
          // 新しいinput要素を作成
          var input = document.createElement("input");
          input.type = "text";
          input.value = "#";
          input.style = "margin:3px";
          input.name = "tag" + counter; // 新しいname属性を設定

          // 削除ボタンを作成
          var deleteButton = document.createElement("button");
          deleteButton.textContent = "-";
          deleteButton.type = "button";
          deleteButton.onclick = function() {
              container.removeChild(input);
              container.removeChild(deleteButton);
          };

          container.appendChild(input);
          container.appendChild(deleteButton);
          
          counter++; // カウンターを増加
      }
  </script>

  </head>

  <body>
    
    <nav id="main-nav">
      <div class="main-nav-box">
        <div class="left-nav">
          <figure id="prof_icon">
            {% if icon != None %}
            <!-- css -->
            <img src="{{ icon }}" id="profile-image" alt="プロフィール画像">
            {% elif icon == None %}
            <!-- css -->
            <img src="static/images/icon/default_icon.png"  id="profile-image" alt="初期画像">
            {% endif %}
          </figure>
          <p>{{ UserName }}様</p>
        </div>

        <figure>
          <a href="{{ url_for('IndexPage') }}"><img src="../static/images/title111.svg"></a>
        </figure>
        <div class="right-nav">
          <ul>
            <!-- <li class="underline"><a href="" id="hoverButton">テーブル</a></li> -->
            <li class="underline"><p id="hoverButton">カテゴリ</p></li>
            <li class="underline"><a class="nav-maypage" href="{{ url_for('MyPage') }}">マイページ</a></li>
            <li><img id="navbtn" src="../static/images/magnifying-glass-light.svg"></li>
            <li><a href="{{ url_for('FavoritePage') }}"><img src="../static/images/heart-light.svg"></a></li>
            <li><a class="nav-sell" href="{{ url_for('SellPage') }}">出品</a></li>
          </ul>
        </div>
      </div>
    </nav>


    <div class="search-box">
      <img id="closebtn" src="../static/images/x01.svg">
      <!-- <img id="closebtn" src="images/x.svg"> -->
      <div class="search-wrap">
        <div class="search-title">
          <h1>SEARCH</h1>
          <p class="sub-sea">商品を探す</p>
        </div>
        <form action="#" class="search-form-4">
          <label>
            <input type="text" id="searchInput" autocomplete="off" placeholder="お探しの商品・キーワードをご入力ください">
          </label>
        </form>
      </div>
    </div>

    <!-- 絶対に消すな -->
    <div id="kesuna"></div>
    <!-- 絶対に消すな -->

    <div id="hiddenArea">
      <!-- <h1>カテゴリ</h1> -->
      <div class="tab">
        <ul class="tab-list">
          <li class="tab-list-item is-btn-active">レディース</li>
          <li class="tab-list-item">メンズ</li>
          <li class="tab-list-item">インテリア/家具</li>
          <li class="tab-list-item">ホビー</li>
          <li class="tab-list-item">その他</li>
        </ul>

        <!-- コンテンツを構成するブロック -->
        <div class="tab-contents-wrap">
          <div class="tab-contents is-contents-active">
            <div class="women-box">
              <ul>
                <li class="m-cate01">
                  <p class="cateTitle">レディース</p>
                  <div class="s-category">
                    <span>トップス</span>
                    <span>パンツ</span>
                    <span>シューズ</span>
                    <span>バッグ</span>
                    <span>アクセサリー</span>
                    <span>ファッション小物</span>
                  </div>
                </li>
                <li class="m-cate02">
                  <p class="cateTitle">ベビー・キッズ</p>
                  <div class="s-category">
                    <span>ベビー服</span>
                    <span>キッズ服</span>
                    <span>キッズシューズ</span>
                  </div>
                </li>
                <li class="m-cate03">
                  <p class="cateTitle">コスメ/香水/美容</p>
                  <div class="s-category">
                    <span>スキンケア</span>
                    <span>ボディケア</span>
                    <span>ヘアケア</span>
                  </div>
                </li>
              </ul>
            </div>
          </div>

          <div class="tab-contents">
            <div class="men-box">
              <ul>
                <li class="m-cate01">
                  <p class="cateTitle">メンズ</p>
                  <div class="s-category">
                    <span>トップス</span>
                    <span>パンツ</span>
                    <span>シューズ</span>
                    <span>バッグ</span>
                    <span>アクセサリー</span>
                    <span>ファッション小物</span>
                  </div>
                </li>
              </ul>
            </div>
          </div>

          <div class="tab-contents">
            <div class="day-box">
              <ul>
                <li class="m-cate01">
                  <p class="cateTitle">インテリア/住まい/小物</p>
                  <div class="s-category">
                    <span>キッチン/食器</span>
                    <span>家具/収納</span>
                    <span>カーペット</span>
                    <span>カーテン</span>
                    <span>ライト</span>
                    <span>インテリア小物</span>
                  </div>
                </li>
                <li class="m-cate02">
                  <p class="cateTitle">家電/スマホ/カメラ</p>
                  <div class="s-category">
                    <span>スマートフォン</span>
                    <span>PC</span>
                    <span>カメラ</span>
                    <span>テレビ</span>
                    <span>オーディオ</span>
                    <span>生活家電</span>
                  </div>
                </li>
              </ul>
            </div>
          </div>

          <div class="tab-contents">
            <div class="hobby-box">
              <ul>
                <li class="m-cate01">
                  <p class="cateTitle">おもちゃ/ホビー/グッズ</p>
                  <div class="s-category">
                    <span>おもちゃ</span>
                    <span>コミック/アニメグッズ</span>
                  </div>
                </li>
                <li class="m-cate02">
                  <p class="cateTitle">本/音楽/ゲーム</p>
                  <div class="s-category">
                    <span>本</span>
                    <span>CD</span>
                    <span>DVD</span>
                    <span>テレビゲーム</span>
                    <span>楽器/機材</span>
                  </div>
                </li>
                <li class="m-cate03">
                  <p class="cateTitle">スポーツ/レジャー</p>
                  <div class="s-category">
                    <span>ゴルフ</span>
                    <span>釣り</span>
                    <span>野球</span>
                    <span>サッカー</span>
                    <span>テニス</span>
                    <span>スノーボード</span>
                    <span>アウトドア</span>
                  </div>
                </li>
                <li class="m-cate04">
                  <p class="cateTitle">ハンドメイド</p>
                  <div class="s-category">
                    <span>アクセサリー</span>
                    <span>ファッション/小物</span>
                    <span>時計</span>
                    <span>インテリア</span>
                  </div>
                </li>
              </ul>
            </div>
          </div>

          <div class="tab-contents">
            <div class="other-box">
              <ul>
                <li class="m-cate01">
                  <p class="cateTitle">チケット</p>
                  <div class="s-category">
                    <span>音楽</span>
                    <span>スポーツ</span>
                    <span>演劇</span>
                    <span>映画</span>
                    <span>優待券</span>
                  </div>
                </li>
                <li class="m-cate02">
                  <p class="cateTitle">その他</p>
                  <div class="s-category">
                    <span>ペット用品</span>
                    <span>食品</span>
                    <span>日用品</span>
                    <span>事務用品</span>
                    <span>その他</span>
                  </div>
                </li>
              </ul>
            </div>
          </div>

        </div>
      </div>
    </div>


    <main id="m-sell">

      <h1>商品の出品</h1>

      <form action="/sell_confirm" method="POST" enctype="multipart/form-data">

        <div class="sell-images">
            <p class="title">出品画像</p>
            <p>サムネイル(単数)</p>
            <!-- <input type="file" name="sellimg-main" id="sellimg-main" accept="image/*" required> -->

            <p>その他(複数可, 任意)</p>
            <!-- <input type="file" name="sellimg-sub" id="sellimg-sub" accept="image/*" multiple> -->

            <!--ここが今回新しい画像アップロードする機構-->
            <div class="container">
              <div id="previewContainer"></div>
              <!-- <h2>複数の画像をアップロードする</h2> -->
              <div id="imagePreview" ondrop="drop(event)" ondragover="allowDrop(event)">
                  ＋ ドラッグ＆ドロップまたはクリックして画像をアップロード<br><br>
                  サムネイルを選択してください
                  <input type="file" name="uploadInput" id="uploadInput" accept="image/*" multiple onchange="previewImages(event)">
              </div>        
              <!-- ここにサムネイルを表示している -->
              <!-- <div id="thumbnailContainer"></div> -->

              <input type="text" name="select" id="select" value="" hidden required >
          </div>


        </div>
  
        <div class="detail">
            <h2>商品の詳細</h2>
            <p class="title">カテゴリー</p>
            <label class="selectbox">
              <select name="scategoryid" id="scategoryid" required>
                <option value="" disabled selected>選択してください</option>
                <option value="1">トップス レディース</option>
                <option value="2">トップス メンズ</option>
                <option value="3">パンツ レディース</option>
                <option value="4">パンツ メンズ</option>
                <option value="5">靴 レディース</option>
                <option value="6">靴 メンズ</option>
                <option value="7">バッグ レディース</option>
                <option value="8">バッグ メンズ</option>
                <option value="9">アクセサリー レディース</option>
                <option value="10">アクセサリー メンズ</option>
                <option value="11">ファッション小物 レディース</option>
                <option value="12">ファッション小物 メンズ</option>
                <option value="13">ベビー服</option>
                <option value="14">キッズ服</option>
                <option value="15">キッズ靴</option>
                <option value="16">子供用ファッション小物</option>
                <option value="17">キッチン・食器</option>
                <option value="18">家具・収納</option>
                <option value="19">カーペット</option>
                <option value="20">カーテン</option>
                <option value="21">ライト</option>
                <option value="22">インテリア小物</option>
                <option value="23">本</option>
                <option value="24">CD</option>
                <option value="25">DVD</option>
                <option value="26">テレビゲーム</option>
                <option value="27">おもちゃ</option>
                <option value="28">コミック・アニメグッズ</option>
                <option value="29">楽器・機材</option>
                <option value="30">コスメ</option>
                <option value="31">香水</option>
                <option value="32">スキンケア</option>
                <option value="33">ヘアケア</option>
                <option value="34">ボディケア</option>
                <option value="35">スマートフォン</option>
                <option value="36">PC</option>
                <option value="37">カメラ</option>
                <option value="38">テレビ</option>
                <option value="39">オーディオ</option>
                <option value="40">生活家電</option>
                <option value="41">ゴルフ</option>
                <option value="42">釣り</option>
                <option value="43">野球</option>
                <option value="44">サッカー</option>
                <option value="45">テニス</option>
                <option value="46">スノーボード</option>
                <option value="47">アウトドア</option>
                <option value="48">アクセサリー</option>
                <option value="49">ファッション・小物</option>
                <option value="50">時計</option>
                <option value="51">インテリア</option>
                <option value="52">音楽</option>
                <option value="53">スポーツ</option>
                <option value="54">演劇</option>
                <option value="55">映画</option>
                <option value="56">優待券</option>
                <option value="57">ペット用品</option>
                <option value="58">食品</option>
                <option value="59">日用品</option>
                <option value="60">事務用品</option>
                <option value="61">その他</option>
              </select>
            </label>
        
            <p class="title">商品の状態</p>
            <label class="selectbox">
              <select name="status" id="status" required>
                <option value="" disabled selected>選択してください</option>
                <option value="1">新品、未使用</option>
                <option value="2">未使用に近い</option>
                <option value="3">目立った傷汚れなし</option>
                <option value="4">やや傷や汚れあり</option>
                <option value="5">傷や汚れあり</option>
                <option value="6">全体的に状態が悪い</option>
              </select>
            </label>
        </div>
  
        <div class="intro">
            <h3>商品名と説明</h3>
            <p class="title">商品名(70文字以内)</p>
            <input type="text"  name="selltit" id="selltit" class="textbox-001" placeholder="商品名" maxlength="70" required>
            <p class="title">商品の説明(500文字以内)</p>
            <textarea class="textbox-002" name="overview" id="overview" placeholder="色、素材、重さ、定価、など" maxlength="500"></textarea>
        </div>

        <div class="delivery">
          <h4>タグ</h4>
            <div id="container">
                <!-- ボタンを押したらinput追加 -->
            </div>
            <br>
            <button type="button" onclick="addInput()">+</button>
        </div>
  
        <div class="delivery">
            <h4>送料について</h4>
            <p class="title">出品者負担 出品する商品の重さ</p>
            <label class="selectbox">
              <select name="postage" id="postage" required>
                <option value="" disabled selected>選択してください</option>
                <option value="3">小(~ 3kg未満)</option>
                <option value="2">中(3kg以上 ~ 10kg未満)</option>
                <option value="1">大(10kg以上 ~)</option>
              </select>
            </label>
        </div>
  
        <div class="price">
            <h5>販売価格</h5>
            <p class="title">販売価格(¥300〜9,999,999)</p>
            <input type="number" name="price" id="price" class="textbox-003" min="300" max="9999999" placeholder="300" required>
        </div>
        <div class="sell">

          <ul>
            <li><input class="btn05" type="submit" value="確認する"></li>
          </ul>
        </div>
            
      </form>
          
    </main>


    <footer>
      <p class="footer01">#VariaFree</p>
      <p>2023 &copy; Copyright F group. ALL rights reserved.</p>
    </footer>

  </body>
  <!-- 検索用 -->
  <script src="{{ url_for('static', filename='js/nav_search.js') }}"></script>

  <!-- カテゴリ-hoverしたら開く用 -->
  <script src="{{ url_for('static', filename='js/category_hover_open.js') }}"></script>
  
  <!-- カテゴリ用 -->
  <script src="{{ url_for('static', filename='js/category_tab.js') }}"></script>
  
  <!-- Upload用 -->
  <script src="{{ url_for('static', filename='js/imageUpload.js') }}"></script>

</html>