<!DOCTYPE html>

<html lang="ja">

  <head>

    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Varia Free</title>

    <link rel="stylesheet" type="text/css" href="../static/css/reset.css">
    <link rel="stylesheet" type="text/css" href="../static/css/common.css">
    <link rel="stylesheet" type="text/css" href="../static/css/viewlog.css">
    <!-- <link rel="stylesheet" type="text/css" href="css/mypage.css"> -->

    <!-- JQuery本体 CDN -->
    <!-- <script src="https://code.jquery.com/jquery-2.2.4.js" integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI=" crossorigin="anonymous"></script> -->

    <!-- jquery実行ファイル -->
    <!-- <script type="text/javascript" src="js/common.js"></script> -->

  </head>

  <body>
    <div id="wrap">

      <figure>
        <a href="index.html"><img src="../static/images/logo.png"></a>
      </figure>

      <form action="#" class="search-form-003">
        <label>
          <input type="text" placeholder="キーワードを入力">
        </label>
        <button type="submit" aria-label="検索"></button>
      </form>

      <nav>
        <ul>
          <li class="nav03"><a class="nav01" href="mypage.html">マイページ</a></li>
          <li class="nav03"><a class="nav01" href="favorite.html">いいね一覧</a></li>
          <li><a class="nav02" href="sell.html">出品</a></li>
        </ul>
      </nav>

      <div id="sub_nav">
        <ul>
          <li><a href="index.html">おすすめ</a></li>
          <li><a href="#">トレンド</a></li>
        </ul>
      </div>

    </div>



    <div id="box">

      <nav id="third_nav">
        <ul>
          <li class="nav_title01">商品管理</li>
          <li><a href="favorite.html">いいね一覧</a></li>
          <li><a href="viewlog.html">閲覧履歴</a></li>
          <li><a href="sell_list.html">出品した商品</a></li>
          <li><a href="buy_list.html">購入した商品</a></li>
          <li><a href="saved_search.html">保存した検索条件</a></li>
          <li><a href="#">下書き一覧</a></li>

          <li class="nav_title02">設定</li>
          <li><a href="personal.html">個人情報編集</a></li>
          <li><a href="layout.html">レイアウト編集</a></li>
          <li><a href="login.html">ログアウト</a></li>
        </ul>
      </nav>

      <main id="m-favorite">
        <h1>閲覧履歴</h1>


        <div class="favorite-product">

          <div class="product-box">
            <a href="product.html">

              <div class="products">
                <figure>
                  <img src="../static/images/sample02.png">
                </figure>

                <div class="product-intro">
                  <p class="product-name">二段 お弁当箱 赤 黒 二個 セット</p>

                  <div class="price-box">
                    <p class="mark">¥</p><p class="price">1480</p>
                  </div>
                </div>

              </div>
            </a>
          </div>



          <div class="product-box">
            <a href="product.html">

              <div class="products">
                <figure>
                  <img src="../static/images/sample03.png">
                </figure>

                <div class="product-intro">
                  <p class="product-name">スーパーマリオメーカー２</p>
                  <div class="price-box">
                    <p class="mark">¥</p><p class="price">3700</p>
                  </div>
                </div>

              </div>
            </a>
          </div>



          <div class="product-box">
            <a href="product.html">

              <div class="products">
                <figure>
                  <img src="../static/images/sample05.png">
                </figure>

                <div class="product-intro">
                  <p class="product-name">ディズニー シェリーメイ キャップ 帽子</p>
                  <div class="price-box">
                    <p class="mark">¥</p><p class="price">4000</p>
                  </div>
                </div>

              </div>
            </a>
          </div>

        </div>




      </main>

    </div>


    <footer>
      <p class="footer01">#VariaFree</p>
      <p>2023 &copy; Copyright F group. ALL rights reserved.</p>
    </footer>

  </body>

</html>