@charset "utf-8";

.shopping-box{
  width: 1100px;
  margin: 70px auto 0 auto;
}
.shopping-tag{
  margin: 30px 0 50px 0;
}
.shopping-tag ul{
  width: 100%;
  text-align: center;
  font-size: 0;
}
.shopping-tag ul li{
  display: inline-block;
  padding: 12px 0 12px 0;
  width: 550px;
  border: 1.5px solid #000;
  text-align: center;
  font-size: 0.9rem;
}
.nowPage{
  background-color: #f3f4f6;
}
.shopping-box h1{
  margin: 70px 0 50px 0;
  font-size: 2.3rem;
  font-weight: normal;
  text-align: center;
}

.estimation-box{
  width: 500px;
  margin: 0 auto 0 auto;
  /* text-align: center; */
  /* background-color: #ddd; */
}
.estimation-title{
  display: flex;
  align-items: center;
}
.estimation-title p{}
.estimation-title span{
  margin: 0 0 0 8px;
  font-size: 0.9rem;
  /* color: #fff !important; */
}


.estimation-box figure{
  text-align: center;
}
.estimation-box figure img{
  border-radius: 50%;
}

.estimation{
  /* background-color: pink; */
}
.estimation-name{
  margin: 10px 0;
  text-align: center;
  font-size: 1.1rem;
}
.evaliate-exa-box{
  margin: 0 auto;
  padding: 15px 0 10px;
  width: fit-content;
}
.evaliate-exa{
  display: flex;
  align-items: center;
  margin: 0 auto 5px auto;
}
.evaliate-exa img{
  width: 32px;
  height: auto;
}
.evaliate-num{
  width: 55px;
  margin: 0 0 0 10px;
  text-align: right;
}
.estimation-detail{
  margin: 10px 0 0 0;
  text-align: center;
}
.estimation-detail input{
  width: 100px;
  padding: 5px 10px;
  text-align: center;
  font-size: 1.1rem;
}
.estimation-detail input::-webkit-outer-spin-button,
.estimation-detail input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


/* .order-number-box{
  font-size: 1.2rem;
  text-align: center;
}
.order-number-box p{}
.order-number-box p span{} */

.guidance{
  width: 1000px;
  margin: 50px auto 50px auto;
  text-align: center;
  line-height: 22px;
}
.guidance p{}
.customer-mail{
  margin: 10px 0 0 0;
}

.guidance-nav{
  margin: 70px 0 70px 0;
  text-align: center;
}
.guidance-nav ul{
  list-style: none;
}
.guidance-nav ul li{
  display: inline-block;
  margin: 0 10px 0 10px;
}
.guidance-nav ul li button{
  padding: 13px 60px 13px 60px;
  text-decoration: none;
  color: #f3f4f6 !important;
  background-color: #333333 !important;
  border: 1px solid #333333 !important;
  border-radius: 5px;
  transition: all .3s ease-out;
  cursor: pointer;
}
.guidance-nav ul li button:hover{
  border: 1px solid #333333 !important;
  background: #fff !important;
  color: #333333 !important;
}

/* .guidance-nav ul li a{
  padding: 10px 60px 10px 60px;
  text-decoration: none;
  color: #f3f4f6 !important;
  background-color: #333333 !important;
  border: 1px solid #333333 !important;
  border-radius: 5px;
  transition: all .3s ease-out;
}
.guidance-nav ul li a:hover{
  border: 1px solid #333333 !important;
  background: #fff !important;
  color: #333333 !important;
} */




