@charset "utf-8";

/* 共通のスタイル */
body{
  font-family: 'Zen Kaku Gothic New', sans-serif;
}
input{
  font-family: 'Zen Kaku Gothic New', sans-serif !important;
}
textarea{
  font-family: 'Zen Kaku Gothic New', sans-serif !important;
}
button{
  font-family: 'Zen Kaku Gothic New', sans-serif !important;
}
select{
  font-family: 'Zen Kaku Gothic New', sans-serif !important;
}
select, option{
  cursor: pointer; /* リンクカーソル（カーソルを指にする） */
}
button#del_img{
  cursor: pointer;
  padding: 2px 5px;
  border-radius: 5px;
  border: 1px #000 solid;
  background-color: transparent;
}
button#del_img:hover{
  opacity: 0.6;
}
div#footer-container{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/*-------------------------------------------------*/
/*-----------------------NAV-----------------------*/
/*-------------------------------------------------*/
nav#main-nav{
  padding: 0px 100px 0px 100px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  z-index: 999;
}
nav#main-nav::after{
  content: "";
  display: block;
  width: 100%;
  height: 0px;
  position: absolute;
  bottom: 0px;
  left: 0px;
  border-bottom: 1px solid #F0F4FF;
}
.main-nav-box{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.left-nav{
  width: 520px;
  padding: 7px 0 7px 0;
  display: flex;
  align-items: center;
}

/*---------------アイコン 名前---------------*/
.left-nav a{
  border-radius: 50%;
  display: block;
}
.left-nav figure{
  padding: 0 17px 0 17px;
}
.left-nav figure img{
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: scale-down;
  background-color: #F0F4FF;
}
.left-nav p{
  margin: 0 0 0 25px;
  font-size: 1.2rem;
}

.main-nav-box figure{}
.right-nav{
  width: 520px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.right-nav ul{
  display: flex;
  align-items: center;
  list-style: none;
}
.right-nav ul li{
  display: inline-block;
  padding: 7px 17px 7px 17px;
}
.right-nav ul li p{
  font-size: 1.2rem;
  cursor: pointer;
  color: #000 !important;
}
p#hoverButton{
  color: #000 !important;
}
.right-nav ul li a{
  text-decoration: none;
  font-size: 1.2rem;
}
.right-nav ul li a img{
  /* width: 32px; */
  /* height: 32px; */
}
.book-mark{
  width: 35px;
  height: 35px;
}
.book-mark:hover{
  opacity: 0.5;
}
.underline{
  color: #000;
  background:
      linear-gradient(currentColor 0 0)
      bottom /var(--d, 0) 1px
      no-repeat;
  transition:0.5s;
}
.underline:hover{
    --d: 80%;
  opacity: 0.5;
}
.nav-maypage{
  color: #000;
}
.nav-sell{
  padding: 5px 10px 5px 10px;
  font-size: 1.15rem;
  background-color: red;
  line-height: 30px;
  border-radius: 5px;
  color: #fff;
}
.nav-sell:hover{
  opacity: 0.5;
}

/*――――――！絶対に消すな！――――――*/
div#kesuna{
  height: 110px;
  width: 100%;}
/*――――――！絶対に消すな！――――――*/




/*ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー*/
/*ーーーーーーーーーーーーーーーーCATEGORYーーーーーーーーーーーーーーーーー*/
/*ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー*/
.tab{
  max-width: 855px;
  margin: 0 auto;
}
.tab-list{
  margin: 50px 0 0 0;
  list-style: none;
  text-align: center;
}
.tab-list-item{
  display: inline-block;
  padding: 2px 2px;
  margin: 0 35px 0 35px;
  cursor: pointer;
  opacity: 0.4;
}
.tab-contents-wrap{
  margin: 60px 0 0 0;
}
.tab-contents{
  display: none;
}
.is-btn-active{
  opacity: 1;
}
.is-contents-active{
  display: block;
}
.women-box,
.men-box,
.hobby-box,
.day-box,
.other-box{
  display: flex;
}
.women-box ul,
.men-box ul,
.hobby-box ul,
.day-box ul,
.other-box ul{
  width: 100%;
  display: flex;
  list-style: none;
}
.women-box ul li,
.men-box ul li,
.hobby-box ul li,
.day-box ul li,
.other-box ul li{
  display: inline-block;
}
.m-cate01{}
.m-cate02, .m-cate03, .m-cate04{
  margin: 0 0 0 100px;
}
.cateTitle{}
.s-category{
  margin-top: 30px;
  font-size: 0.95rem;
}
.s-category span{
  display: block;
  width: fit-content;/*領域を文字幅に合わせる*/
  margin: 13px 0 13px 0;
  font-weight: lighter;
  font-size: 0.9rem;
}
.s-category span button{
  border: none;
  background: transparent;
  cursor: pointer;
  transition: color 0.3s ease;
}
.s-category span button:hover{
  color: rgba(255, 255, 255, 0.6) !important;
}


body, body p {
  color: black;
}
/* openクラスが追加されたときの文字色 */
html.open_cate body,
html.open_cate body p,
html.open_cate body h1,
html.open_cate body .tab-list-item,
html.open_cate body span,
html.open_cate body span button{
  color: white !important;
}
.cate-box{
  position: fixed;
  top: -120%;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0,0,0,0.9);
  transition: top 0.3s; /*--- 上からスライド ---*/
  z-index: 99999;
}

img#cate_closebtn{
  position: fixed;
  top: 45px;
  right: 50px;
  width: 25px;
  height: 25px;
  cursor: pointer;
  display: none;
}
.open_cate #hoverButton{
z-index: 100;
}
.open_cate .cate-box{
top: 0;
}
.open_cate{}
.cate-wrap{
  width: 900px;
  margin: 130px auto 0;
}
.cate-title{
  width: 300px;
  margin: 0 auto;
  text-align: center;
}
.cate-box h1{
  font-size: 2rem;
  letter-spacing: 0.5rem;
}
.sub-cate{
  margin: 15px 0 0 0;
}



/*-------------------------------------------------*/
/*---------------------SEARCH----------------------*/
/*-------------------------------------------------*/
/* openクラスが追加されたときの文字色 */
.open body,
.open body p,
.open body h1{
  color: white !important;
}
.search-box{
  position: fixed;
  top: -120%;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0,0,0,0.9);
  transition: top 0.3s; /*--- 上からスライド ---*/
  z-index: 99999;
}

/* ナビゲーションボタン（開く） */
img#navbtn{
padding: 0;
outline: none;
border: none;
background: none;
width: 32px;
height: 32px;
cursor: pointer;
z-index: 9999;
}
img#navbtn:hover{
  opacity: 0.5;
}
img#closebtn{
  position: fixed;
  top: 45px;
  right: 50px;
  width: 25px;
  height: 25px;
  cursor: pointer;
  display: none;
/*  filter: brightness(0.2);/*svg 色反転 黒→白*/*/
/*  filter: brightness(0.8) invert(0.9);/*svg 色反転 黒→白*/*/
}

/* ナビゲーションボタン（閉じる） */
.open #navbtn{
z-index: 100;
}
/* ナビゲーションメニュー 開いた時*/
.open .search-box{
top: 0;
}
.open{}
.search-wrap{
  width: 80%;
  margin: 200px auto 0;
/*  background-color: blue;*/
}
.search-title{
  width: 200px;
  margin: 0 auto;
  text-align: center;
}
.search-box h1{
  font-size: 2rem;
  letter-spacing: 0.5rem;
}
.sub-sea{
  margin: 15px 0 0 0;
}



/*---------------検索ボックス---------------*/
.search-form-4 {
  display: flex;
  align-items: center;
  overflow: hidden;
  border: 1px solid #f0f4f4;
  border-radius: 3px;
  /* width: 750px; */
  width: 795px;
  margin: 100px auto 0;
}
.search-form-4 label{
  display: flex;
}

.search-form-4 input {
  width: 750px;
  height: 45px;
  /* padding: 30px 35px; */
  padding: 30px 35px 30px 5px;
  border: none;
  box-sizing: border-box;
  font-size: 1rem;
  outline: none;
  background-color: #333333;
  caret-color: #f0f4f4;
  color: #f0f4f4;
}
.search-form-4 input::placeholder {
  color: #f0f4f4;
}
.search-form-4 button{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 0;
  width: 45px;
  height: 45px;
  border: none;
  background-color: #333333;
  cursor: pointer;
}
.search-form-4 button::before {
  width: 24px;
  height: 24px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M18.031 16.6168L22.3137 20.8995L20.8995 22.3137L16.6168 18.031C15.0769 19.263 13.124 20 11 20C6.032 20 2 15.968 2 11C2 6.032 6.032 2 11 2C15.968 2 20 6.032 20 11C20 13.124 19.263 15.0769 18.031 16.6168ZM16.0247 15.8748C17.2475 14.6146 18 12.8956 18 11C18 7.1325 14.8675 4 11 4C7.1325 4 4 7.1325 4 11C4 14.8675 7.1325 18 11 18C12.8956 18 14.6146 17.2475 15.8748 16.0247L16.0247 15.8748Z' fill='%23f0f4f4'%3E%3C/path%3E%3C/svg%3E");
  background-repeat: no-repeat;
  content: '';
}


/*--------------------検索履歴--------------------*/
.search-history{
  width: 795px;
  margin: 0 auto;
  padding: 13px 30px 7px 30px;
  border-radius: 0 0 3px 3px;
  background-color: #303030;
}
.search-history li{
  /* width: 100px; */
  list-style: none;
  /* padding: 3px 0 3px 0; */
  margin-bottom: 6px;
  justify-content: space-between;
  position: relative;

  /* background-color: #ddd; */

  display: flex;
}
.search-history li:not(:last-child)::after{
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  position: absolute;
  bottom: -4px;
  left: 0px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}


.search-history li button{
  /* width: 735px; */
  width: 680px;
  border: none;
  background: transparent;
  cursor: pointer;
  color: #f0f4f4 !important;
  font-size: 1rem;
  text-align: left;
  padding: 5px 0;

  position: relative;
}
.search-history li button:hover{
  color: rgba(255, 255, 255, 0.5) !important;
}
/* .search-history li:not(:last-child) button::after{
  content: "";
  display: block;
  width: 100%;
  height: 0px;
  position: absolute;
  bottom: -3px;
  left: 0px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
} */
.search-history li img{
  cursor: pointer;
}

img#search-delete-btn{
  cursor: pointer;
  position: relative;
}

img#search-delete-btn::after{
  content: "";
  display: block;
  width: 100%;
  height: 0px;
  position: absolute;
  bottom: 0px;
  left: 0px;
  /* border-bottom: 1px solid rgba(255, 255, 255, 0.5); */
  border-bottom: 1px solid #fff;
}

footer{
  padding: 50px 0 150px 0;
  background-color: #000;
  position: relative;
}
div#footer-wrap{
  max-width: 1300px;
  margin: 0 auto;
  display: flex;
  align-items: flex-start;
}
.footer-left{}
.footer-tittle{
  width: 170px;
  height: auto;
}
.sns-box{}
.footer-icon01{
  margin: 0 10px 0 25px;
}
.footer-icon02{
  margin: 0 10px 0 0;
}
.footer-icon03{}

.footer-right{
  margin: 30px 0 0 300px;
/*  background-color: pink;*/
}
.guide-tittle{
  margin: 0 0 20px 0;
  font-weight: normal;
  /* color: #fff !important; */
}
.guide-box{
  display: flex;
  width: 330px;
  justify-content: space-between;
}
.guide-box a{
  text-decoration: none;
}
.guide-box a p:hover{
  color: rgba(255, 255, 255, 0.7) !important;
}
.footer-right p{
  line-height: 25px;
  color: #fff;
}
.guide-left{}
.guide-right{}

.copyRight-box{
/*  background-color: pink;*/
  position: absolute;
  right: 70px;
  bottom: 70px;
}
.copyRight{
  color: #fff;
}













/*                    TOP_MAIN                    */
.product_area{
  /* margin: 0 auto 0 auto; */
  margin: 0 auto 50px auto;
  width: 1200px;
  /* position: relative; */
}
/* .product_area h1{
  font-size: 1.3rem;
  font-weight: normal;
  margin: 0 0 35px 13px;
  letter-spacing: 0.1rem;
}
.product_area h1::before{
  content: "";
  display: block;
  width: 1200px;
  height: 0px;
  position: absolute;
  top: 30px;
  left: 0px;
  border-bottom: 1px solid #a9a9a9;
} */


.DisplayBox{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.DisplayBox h1{
  font-size: 1.3rem;
  font-weight: normal;
  margin: 0 0 0 20px;
  position: relative;
}
.DisplayBox h1::before{
  content: "";
  display: block;
  width: 1200px;
  height: 0px;
  position: absolute;
  left: -20px;
  bottom: -18px;
  border-bottom: 2px solid pink;
}
.DisplayForm{
  margin: 0 20px 0 0 ;
  display: flex;
  align-items: center;
}
.DisplayForm p{
  margin: 0 5px 0 0;
}
.grid_img{
  margin-right: 2px;
  width: 33px;
  height: 33px;
  cursor: pointer;
  border: 1px solid #E0ECFF;
  background-color: #fff !important;
}
.list_img{
  margin-left: 2px;
  width: 33px;
  height: 33px;
  cursor: pointer;
  border: 1px solid #E0ECFF;
  background-color: #fff !important;
}
div#gridView{
  margin: 20px 0 0 0;
  padding: 0 10px;
/*  background-color: blue;*/
}
div#listView{
  margin: 20px 0 0 0;
  padding: 0 10px;
}

/*----------------------------------------------------------------*/
/*--------------------------Grid-Product--------------------------*/
/*----------------------------------------------------------------*/
.grid-wrap-product{
  display: flex;
  flex-wrap: wrap;
  width: auto;
  margin: 0 auto 0 auto;
}
.grid-product{
  width: 20%;
  padding: 10px 13px 10px 13px;
  margin: 0 0 10px 0;
}
.grid-product a{
  text-decoration: none;
  color: #000;
}
.grid-product a figure{
  overflow: hidden;
  background-color: #a9a9a9;
  text-align: center;
  border: 1px solid #E0ECFF;
}
.grid-product a figure img{
  max-width: 214px;
  height: 214px;
  object-fit: scale-down;
}
.grid-product a figure img:hover{
  transform:scale(1.1);
  transition:0.5s;
}
.grid-product a p{
  margin: 8px 0 4px 0;
  font-size: 0.85rem;
  line-height: 20px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.price-box{
  display: flex;
  font-size: 0.9rem;
}
.mark{}
.price{}



/*--------------------------------------*/
/*-------------List-Product-------------*/
/*--------------------------------------*/
.list-wrap-product{}
.list-product{
  margin-bottom: 20px;
  position: relative;
}
.list-product::after{
  content: "";
  display: block;
  width: 1200px;
  height: 0px;
  position: absolute;
  left: -20px;
  bottom: -10px;
  border-bottom: 2px solid pink;
}
.list-product a{
  display: flex;
  text-decoration: none;
  color: #000;
}
.list-product a figure{
  overflow: hidden;
  background-color: #a9a9a9;
  text-align: center;
  border: 1px solid #E0ECFF;
}
.list-product a figure img{
  max-width: 160px;
  height: 160px;
  object-fit: scale-down;
}
.list-product a figure img:hover{
  transform:scale(1.1);
  transition:0.5s;
}
.list-product-exa{
  margin: 0 0 0 20px;
  width: 1000px;
}
.list-product-exa p{
  padding: 10px 0;
  font-size: 1.2rem;
}
.list-price-box{
  display: flex;
  align-items: center;
  margin: 20px 0 0 0;
  align-items: center;
  font-size: 1.2rem;
}
.list-mark{}
.list-price{}
.product-tax{
  margin: 0 0 0 5px;
  font-size: 1rem;
}






/* 
.wrap_product{
  display: flex;
  flex-wrap: wrap;
  width: auto;
  margin: 0 auto 50px auto;
  padding: 0 0 0 0;
}
.wrap_product::after{
  content: "";
  display: block;
  width: 1200px;
  height: 0px;
  position: absolute;
  bottom: 30px;
  left: 0px;
  border-bottom: 1px solid #a9a9a9;
}

.wrap_product div.product{
  width: 20%;
  padding: 10px 13px 10px 13px;
  margin: 0 0 10px 0;
}
.wrap_product div.product a{
  text-decoration: none;
  color: #000;

  display: block;
}
.wrap_product .product a figure{
  overflow: hidden;
  background-color: #a9a9a9;
  text-align: center;
}
.wrap_product .product a figure img{
  max-width: 214px;
  height: 214px;
  object-fit: scale-down;
}
.wrap_product .product a p{
  margin: 8px 0 4px 0;
  font-size: 0.85rem;
  line-height: 20px; */

  /*                 文字数制限 2行まで                 */
  /* overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2; */
}
/*                    値段                    */
/* .price-box{
  display: flex;
  font-size: 0.9rem;
}
.mark{}
.price{} */
