@charset "utf-8";



div#box{
  display: flex;
  margin: 0 auto 100px auto;
  width: 1200px;
}

div#box nav#third_nav{
  width: 250px;
  height: auto;
}
div#box nav#third_nav ul{}
div#box nav#third_nav ul li{
  margin: 0 0 13px 0;
  position: relative;
}
div#box nav#third_nav ul li::after{
  content: "";
  display: block;
  width: 250px;
  height: 0px;
  position: absolute;
  bottom: -7px;
  left: 0px;
  border-bottom: 1px solid #a9a9a9;
}

.nav_title01{
  padding: 0 0 10px 10px;
  font-size: 1.2rem;
}
.nav_title02{
  padding: 30px 0 10px 10px;
  font-size: 1.2rem;
}
.logout{
  padding: 30px 0 0 0;
}


div#box nav#third_nav ul li a{
  padding: 13px 0 0 10px;
  width: 240px;
  height: 30px;
  display: block;

  text-decoration: none;
  color: #000;
  font-size: 1rem;

  position: relative;

/*  background-color: #ddd;*/
}
div#box nav#third_nav ul li a:hover{
  background-color: #f5f5f5;
}


div#box nav#third_nav ul li a::after{
  position: absolute;
  top: 0;
  bottom: 0;
  right: 10px;
  margin: auto;
  content: "";
  vertical-align: middle;
  width: 0.4em;   /* arrow size */
  height: 0.4em;  /* arrow size */
  border-top: 1px solid #808080;  /* thickness, color */
  border-right: 1px solid #808080;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}




main#m-favorite{
  width: 900px;
  height: auto;
  margin: 0 0 0 50px;
}

main#m-favorite h1{
  margin: 0 0 40px 15px;
  font-weight: normal;
  font-size: 1.3rem;
}

.favorite-product{
  position: relative;
}
.favorite-product::before{
  content: "";
  display: block;
  width: 870px;
  height: 0px;
  position: absolute;
  top: -1px;
  left: 15px;
  border-bottom: 1px solid #a9a9a9;
}
.product-box{
  position: relative;
  margin: 0 0 1px 0;
}
.product-box::after{
  content: "";
  display: block;
  width: 870px;
  height: 0px;
  position: absolute;
  bottom: -1px;
  left: 15px;
  border-bottom: 1px solid #a9a9a9;
}

.product-box a{
  text-decoration: none;
  color: #000;
  display: block;
  padding: -10px 15px 2px 15px;
  width: 900px;
  height: auto;
}
.product-box a::after{
  position: absolute;
  top: 0;
  bottom: 0;
  right: 20px;
  margin: auto;
  content: "";
  vertical-align: middle;
  width: 0.7em;   /* arrow size */
  height: 0.7em;  /* arrow size */
  border-top: 1px solid #808080;  /* thickness, color */
  border-right: 1px solid #808080;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.product-box a:hover{
  background-color: #f5f5f5;
}

.products{
  display: flex;
  position: relative;
  padding: 10px 0 10px 15px;
}
.products figure{}
.products figure img{
  width: 80px;
  height: 80px;
  object-fit: scale-down;
}
.product-intro{
  margin: 0 0 0 10px;
  position: absolute;
  top: 50%;
  left: 100px;
 transform: translateY(-50%);
}


/*                    名前                    */
.product-name{
  margin: 0 0 6px 0;
}

/*                    値段                    */
.price-box{
  display: flex;
  margin: 0 0 6px 0;
}
.mark{}
.price{}

/*                    アクション                    */
.action{
  display: flex;
}
.heart{
  display: flex;
  align-items: center;
}
.comment{
  margin: 0 0 0 10px;
  display: flex;
  align-items: center;
}
.eye{
  margin: 0 0 0 10px;
  display: flex;
  align-items: center;
}
.time{
  margin: 0 0 0 10px;
  display: flex;
  align-items: center;
}
svg{
  margin: 0 3px 0 0;
}
.num{
  font-size: 0.9rem;
}
