@charset "utf-8";

/* 共通のスタイル */
body{
  font-family: 'Zen Kaku Gothic New', sans-serif;
}
input{
  font-family: 'Zen Kaku Gothic New', sans-serif !important;
}
button{
  font-family: 'Zen Kaku Gothic New', sans-serif !important;
}

div#wrap{
  max-width: 100%;
  height: 100vh;
  position: relative;
  margin: 0 auto;
}
.title{
  width: 1000px;
  height: 570px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;

/*  background-color: #ddd;*/
}
.title h1{
  font-size: 2.5rem;
  font-weight: normal;
}
.title h1 span{
  margin: 0 0 0 30px;
  font-size: 1rem;
}

section#Login{
  width: 1000px;
  height: 440px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.login{
  display: flex;
  justify-content: space-between;
  padding: 1.25rem 1.25rem 0.8rem;
/*  padding: 2rem 1.25rem 0.8rem;*/
/*  border: 1px solid #000;*/
  box-shadow: 0 0 2.5px #333333;

  background-color: #F2F2F2;
}
/*             左側             */
.left{
  width: 500px;
  height: 440px;
/*  border: 1px solid #000;*/

/*  background-color: #fff;*/
}
.left-con{
  margin: 50px;
  height: 370px;
  position: relative;

/*  background-color: #eee;*/
}
.left-detail{
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);

/*  background-color: #ddd;*/
}

.email-box{
  margin: 0 0 30px 0;
}
.email-box p{
  margin: 0 0 8px 0;
}
input#email{
  width:100%;
  padding: 0 15px 0 15px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  line-height: 2.8rem;
  font-size: 1.05rem;
  border: 0.05px solid #333333;
}
input#email:focus {
  outline: #333333 0.5px solid;
}

.password-box{
  margin: 0 0 40px 0;
}
.password-box p{
  margin: 0 0 8px 0;
}
input#password{
  width:100%;
  padding: 0 15px 0 15px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  line-height: 2.8rem;
  font-size: 1.05rem;
  border: 0.05px solid #333333;
}
input#password:focus {
  outline: #333333 0.5px solid;
}

.btn-box{
/*  text-align: center;*/
}
.btn-box input{
  width: 100%;
  line-height: 3.5rem;
  cursor: pointer;
  font-size: 1rem;
  background-color: #333333;
  color: #fff;
}
.btn-box input:hover{
  opacity: 0.7;
}




/*             右側             */
.right{
  width: 500px;
  height: 440px;
/*  border: 1px solid #000;*/

/*  background-color: #fff;*/
}
.right-con{
  margin: 50px;
  height: 340px;
  position: relative;

/*  background-color: #eee;*/
}
.right-detail{
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);

/*  background-color: #ddd;*/
}
.right-detail h3{
  margin: 0 0 25px 0;
  text-align: center;
  font-size: 1.3rem;
  font-weight: normal;
}
.right-detail p{
  margin: 0 0 22px 0;
  text-align: center;
}


.next-btn{
  text-align: center;
}
.next-btn a{
  display: block;
  width: 100%;
  line-height: 3.5rem;
  cursor: pointer;
  font-size: 1rem;
  background-color: #333333;
  color: #fff;
  text-decoration: none;
}
.next-btn a:hover{
  opacity: 0.7;
}

.new{
  display: none;
  margin: 35px 0 0;
  text-align: center;
  text-decoration: none;
  color: #000;
}

/* レスポンシブデザイン */
@media (max-width: 1000px) {
  div#wrap{
    max-width: 100%;
  }
  .title{
    max-width: 100%;
  }
  section#Login{
    max-width: 100%;
  }
}

@media (max-width: 850px) {
  div#wrap{
    max-width: 100%;
  }
  .title{
    max-width: 100%;
  }
  section#Login{
    max-width: 100%;
  }
  .btn-box input{
    line-height: 3rem;
  }
  .next-btn a{
    line-height: 3rem;
  }
}

@media (max-width: 700px) {
  div#wrap{
    margin: 0px auto 0px;
  }
  .title{
    width: 100%;
    height: 570px;
  }
  .title h1{
    margin: 0 0 0 50px;
  }
  .title h1 span{
    margin: 0 0 0 30px;
    font-size: 1rem;
  }
  section#Login{
    width: 100%;
/*    background-color: #000;*/
  }
  .login{
    display: block;
  }
  .right{
    width: 100%;
    height: 400px;
  }
  .left{
    width: 100%;
    height: 400px;
  }
  .new{
    display: block;
  }
  .right{
    display: none;
  }
}