@charset "utf-8";
main table tr td{
    padding: 7.5px 20px;
}

th{
    text-align: right;
}

/* 選択ページハイライト */
li:nth-child(2){
    border-radius: 5px;
    background-color: #eee;
}

a.nav{
    color: black;
    text-decoration: none;
}