@charset "utf-8";


/*                    MYPAGE_MAIN                    */
div#box{
  display: flex;
  margin: 70px auto 100px auto;
  width: 1200px;
}

div#box nav#third_nav{
  width: 250px;
  height: auto;
}
div#box nav#third_nav ul{}
div#box nav#third_nav ul li{
  margin: 0 0 13px 0;
  position: relative;
}
div#box nav#third_nav ul li::after{
  content: "";
  display: block;
  width: 250px;
  height: 0px;
  position: absolute;
  bottom: -7px;
  left: 0px;
  border-bottom: 1px solid #a9a9a9;
}

.nav_title01{
  padding: 0 0 10px 10px;
  font-size: 1.2rem;
}
.nav_title02{
  padding: 30px 0 10px 10px;
  font-size: 1.2rem;
}



div#box nav#third_nav ul li a{
  padding: 13px 0 0 10px;
  width: 240px;
  height: 30px;
  display: block;

  text-decoration: none;
  color: #000;
  font-size: 1rem;

  position: relative;

/*  background-color: #ddd;*/
}
div#box nav#third_nav ul li a:hover{
  background-color: #f5f5f5;
}
div#box nav#third_nav ul li a::after{
  position: absolute;
  top: 0;
  bottom: 0;
  right: 10px;
  margin: auto;
  content: "";
  vertical-align: middle;
  width: 0.4em;   /* arrow size */
  height: 0.4em;  /* arrow size */
  border-top: 1px solid #808080;  /* thickness, color */
  border-right: 1px solid #808080;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}







main#m-mypage{
  width: 950px;
  height: auto;
}
.prof_detail{
  text-align: center;
}
.pprof-wrap{
  display: block;
}
.pprof-wrap figure{}
.pprof-wrap figure img{
  border-radius: 50%;
  width: 140px;
  height: 140px;
  object-fit: scale-down;
  text-align: center;
  background-color: #F0F4FF;
}
.prof_detail .name{
  margin: 20px 0 0 0;
  font-size: 1.4rem;
}

/*                    評価☆                    */
.rate-form {
  margin: 10px 0 0 0;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
}
.rate-form input[type=radio] {
  display: none;
}
.rate-form label{
  position: relative;
  padding: 0 1px;
  color: #ccc;
  /* cursor: pointer; */
  font-size: 25px;
}
.rate-form label:hover {
  color: #ffcc00;
}
.rate-form label:hover ~ label {
  color: #ffcc00;
}
.rate-form input[type=radio]:checked ~ label {
  color: #ffcc00;
}

/*                    nav                    */
div#mypage_nav{
  margin: 25px 0 0 0;
  text-align: center;
}
div#mypage_nav ul{}
div#mypage_nav ul li{
  display: inline-block;
  margin: 0 5px 0 5px;
}
div#mypage_nav ul li a{
  width: 170px;
  height: 90px;
  padding: 15px 0 0 0;
  text-decoration: none;
  color: #000;
  border: 1px solid #000;
  display: block;
}
div#mypage_nav ul li a:hover{
  opacity: 0.5;
}
div#mypage_nav ul li a img{
  max-width: 45px;
  height: auto;
}
div#mypage_nav ul li a p{
  margin: 10px 0 0 0;
}

div#point-money-box{
  margin: 75px 0 0 109px;
  padding: 0 0 0 10px;
  display: flex;
  width: 733px;
  height: 100px;
  position: relative;
}

div#point-money-box::before{
  content: "";
  display: block;
  width: 100%;
  height: 0px;
  position: absolute;
  top: -20px;
  left: 0px;
  border-bottom: 1px solid #a9a9a9;
}

div#point-money-box::after{
  content: "";
  display: block;
  width: 100%;
  height: 0px;
  position: absolute;
  bottom: -20px;
  left: 0px;
  border-bottom: 1px solid #a9a9a9;
}


div#point-money-box .bar{
  width: 5px;
  height: 100px;
  background-color: red;
}


.point-money{
  margin: 5px 0 5px 7px;
  width: 100%;
  height: 90px;
}
/*                    売上金                    */
.money-box{
  width: 100%;
  height: 40px;
  margin: 0 0 5px 0;
  line-height: 22px;
}
.money{
  display: flex;
}
.mark{
  margin: 0 3px 0 0;
}

/*                    ポイント                    */
.point-box{
  width: 100%;
  height: 40px;
  margin: 10px 0 0 0;
  line-height: 22px;
}
.point{
  display: flex;
}



div#charge-wrap{
  margin: 40px 0 0 109px;
  width: 733px;
  padding: 0 0 0 10px;

  position: relative;
}
div#charge-wrap::after{
  content: "";
  display: block;
  width: 100%;
  height: 0px;
  position: absolute;
  bottom: -20px;
  left: 0px;
  border-bottom: 1px solid #a9a9a9;
}
input#charge{
  padding: 7px 12px;
  border: none;
  border-bottom: 1px #000 solid;
}
input#charge:focus {
  outline: none;
}
.payBtn{
  background-color: red;
  color: #fff;
  border: none;
  padding: 5px 10px;
  margin: 0 0 0 10px;
  border-radius: 5px;
  cursor: pointer;
}
.payBtn:hover{
  opacity: 0.5;
}
.chargeBtn{
  margin: 20px 0 0 0;
  background: transparent;
  border-radius: 5px;
  padding: 5px 7px;
  cursor: pointer;
  color: #3155A6;
  border: 1px #6495ED solid;
  transition: 0.3s;
}
.chargeBtn:hover{
  background-color: #6495ED;
  color: #fff;
}