@charset "utf-8";


/*                    MYPAGEなどと同じ                    */
div#box{
  display: flex;
  margin: 0 auto 100px auto;
  width: 1200px;
}

div#box nav#third_nav{
  width: 250px;
  height: auto;
}
div#box nav#third_nav ul{}
div#box nav#third_nav ul li{
  margin: 0 0 13px 0;
  position: relative;
}
div#box nav#third_nav ul li::after{
  content: "";
  display: block;
  width: 250px;
  height: 0px;
  position: absolute;
  bottom: -7px;
  left: 0px;
  border-bottom: 1px solid #a9a9a9;
}

.nav_title01{
  padding: 0 0 10px 10px;
  font-size: 1.2rem;
}
.nav_title02{
  padding: 30px 0 10px 10px;
  font-size: 1.2rem;
}
.logout{
  padding: 30px 0 0 0;
}

div#box nav#third_nav ul li a{
  padding: 13px 0 0 10px;
  width: 240px;
  height: 30px;
  display: block;

  text-decoration: none;
  color: #000;
  font-size: 1rem;

  position: relative;
}
div#box nav#third_nav ul li a:hover{
  background-color: #f5f5f5;
}

div#box nav#third_nav ul li a::after{
  position: absolute;
  top: 0;
  bottom: 0;
  right: 10px;
  margin: auto;
  content: "";
  vertical-align: middle;
  width: 0.4em;   /* arrow size */
  height: 0.4em;  /* arrow size */
  border-top: 1px solid #808080;  /* thickness, color */
  border-right: 1px solid #808080;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}



/*                   PERSONAL-MAIN                     */
main#m-personal{
  width: 900px;
  height: auto;
  margin: 0 0 0 50px;
}
main#m-personal h1{
  margin: 0 0 40px 0;
  font-weight: normal;
  font-size: 1.3rem;

  position: relative;
}
main#m-personal h1::after{
  content: "";
  display: block;
  width: 100%;
  height: 0px;
  position: absolute;
  bottom: -7px;
  left: 0px;
  border-bottom: 1px solid #a9a9a9;
}

/*                タイトル テストボックス                  */
.edit-title{
  margin: 10px 0 20px 0;
  font-size: 1.2rem;
  position: relative;
}
.edit-title::after{
  content: "";
  display: block;
  width: 500px;
  height: 0px;
  position: absolute;
  bottom: -7px;
  left: 0px;
  border-bottom: 1px solid #a9a9a9;
}
.txt{
  margin: 5px 0 3px 0;
}

/*                アカウントのことについて                  */

/*                プロフィール編集                  */
.prof-edit{
  margin: 0 0 30px 0;
}
.photo{
  margin: 0 0 10px 0;
}
.prof-edit figure{
  margin: 0 0 20px 0;
  overflow: hidden;
}
.prof-edit figure img{
  width: 130px;
  height: 130px;
  border-radius: 50%;
  object-fit: scale-down;
}






/*                   住所一覧                     */
.address-edit{
  margin: 0 0 30px 0;
}
.address-box{
  margin: 0 0 10px 0;
}
.address-box p{
  margin: 0 0 3px 0;
}
.address-name{}
.post-code{}
.address{}
.address-edit a{
  color: #0099FF;
}



/*                   メール・パスワード                     */
.mail-edit{
  margin: 0 0 30px 0;
}






/*                個人情報編集のことについて                  */

.personal-edit{
  margin: 0 0 30px 0;
}
.personal-edit h2{
  margin: 0 0 40px 0;
  font-weight: normal;
  font-size: 1.3rem;

  position: relative;
}
.personal-edit h2::after{
  content: "";
  display: block;
  width: 100%;
  height: 0px;
  position: absolute;
  bottom: -7px;
  left: 0px;
  border-bottom: 1px solid #a9a9a9;
}
.personal-name{
  display: flex;
}
.name{}
.katakan{}



/*                性別のことについて                  */
.gender-edit{}



/*                テキストボックス セレクトボックス                  */
.textbox-001{
  margin: 0 0 8px 0;
  min-width: 400px;
  padding: 8px 10px;
  border: 1px solid #969da3;
  border-radius: 3px;
  color: #333;
  font-size: 1em;
  line-height: 1.5rem;
}
.textbox-001::placeholder {
  color: #999;
}

.selectbox{
  display: inline-flex;
  align-items: center;
  position: relative;
}
.selectbox::after {
  position: absolute;
  right: 15px;
  width: 10px;
  height: 7px;
  background-color: #535353;
  clip-path: polygon(0 0, 100% 0, 50% 100%);
  content: '';
  pointer-events: none;
}
.selectbox select{
  appearance: none;
  min-width: 425px;
  height: 3em;
  padding: .4em calc(.8em + 30px) .4em .8em;
  border: 1px solid #cccccc;
  border-radius: 3px;
  background-color: #fff;
  color: #333333;
  font-size: 1em;
  cursor: pointer;
}