/*                    PRODUCT_MAIN                    */

ul li{
  list-style: none;
}

/* slide */
.slide_con{
  display: flex;
  width: 1200px;
  margin: 50px auto 50px auto;
  position: relative;
}
.slide_box{
  width: 650px;
  margin: 0 auto 0 auto;
}
.slide {
  position: relative;
  margin: 0;
  padding: 0;
}
.slide .item {
  position: relative;
  height: 100%;
}
.slide .item::before {
  display: block;
  padding-top: 100%;
  content: "";
  position: relative;
  overflow: hidden;
}
.slide .item img {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  width: 100%;
}
.slide > .slick-list,
.slide > .slick-list > .slick-track,
.slide > .slick-list > .slick-track > .slick-slide > div {
  position: relative;
  height: 100%;
}

/* slide-navigation */

.slide-navigation {
  position: relative;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}
.slide-navigation .item{
  position: relative;
  cursor: pointer;
  overflow: hidden;
  width: 15%;
  height: 100%;
  margin: 0.833%;
  padding: 0;
}
.slide-navigation .item::before {
  display: block;
  padding-top: 95%;
  content: "";
}
.slide-navigation .item img{
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  max-width: 100%;
}
.slide-navigation .current::after{
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  content: "";
  opacity: 0.5;
  background: #000;
}
.slide-navigation .item{
  border: 0.1px solid #dcdcdc;
}


/*/  商品紹介  /*/
.intro{
  margin: 30px 30px 0 50px;
/*  width: 500px;*/
}
.intro_name{
  margin: 0 0 30px 0;
  font-size: 1.4rem;
  line-height: 30px;
}
.intro span{
  font-size: 1.3rem;
}

.intro_detail_box{
  margin: 30px 0 0 0;
}
.intro_detail{
  margin: 0 0 5px 0;
  line-height: 18px;
  font-size: 0.85rem;
}

.disabled {
  opacity: 0.3;
  cursor: inherit;
}
.spinner-count-box{
  position: relative;
}
.spinner-count{
  position: absolute;
  bottom: 10px;
  left: 10px;
  font-size: 0.8rem;
  writing-mode: horizontal-tb;
}


.shopping{
  width: 500px;
  margin: 30px 0 0 0;
  text-align: center;
  border: 1px solid #b6b5b5;
  border-radius: 0 10px 0 0;
  position: relative;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all  0.3s ease;
  background-color: red;
}
.shopping a{
  display: block;
  display: flex;
  justify-content: center;
  padding: 17px;
  text-decoration: none;
  color: #fff;
}
.shopping:hover{
/*  background-color: #F2F2F2;*/
opacity: 0.5;
}

.plus-box{
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(-90%,-50%)
}
.dli-plus {
  display: inline-block;
  vertical-align: middle;
  color: #fff;
  line-height: 1;
  width: 1em;
  height: 0.1em;
  background: currentColor;
  border-radius: 0.1em;
  position: relative;
}

.dli-plus::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: inherit;
  border-radius: inherit;
  transform: rotate(90deg);
}
.shopping a p{
  font-size: 0.9rem;
}

div#product-info{
  margin: 30px 0 0 0;
}
div#product-info h3{
  margin: 0 0 30px 0;
  font-size: 1.1rem;
  font-weight: normal;
  position: relative;
}
.info-detail{
  display: flex;
  line-height: 30px;
}
.info01{
  width: 180px;
}
.info02{}


div#sell{
  margin: 30px 0 0 0;
}
div#sell h4{
  margin: 0 0 30px 0;
  font-weight: normal;
  font-size: 1.1rem;
  position: relative;
}

div#sell h4::after{
  content: "";
  display: block;
  width: 500px;
  height: 0px;
  position: absolute;
  bottom: -15px;
  left: 0px;
  border-bottom: 1px solid #a9a9a9;
}
div#product-info h3::after{
  content: "";
  display: block;
  width: 500px;
  height: 0px;
  position: absolute;
  bottom: -15px;
  left: 0px;
  border-bottom: 1px solid #a9a9a9;
}

.sell-info{
  display: flex;
  position: relative;
}
.sell-info img{
  border-radius: 50%;
  max-width: 80px;
  max-height: 80px;
}
.sell-info-detail{
  position: absolute;
  top: 15px;
  left: 100px;
}
.sell-info-detail p{
  margin: 0 0 0 4px;
  font-size: 1.1rem;
  line-height: 25px;
}
.rate-form {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
}
.rate-form input[type=radio] {
  display: none;
}
.rate-form label{
  position: relative;
  padding: 0 1px;
  color: #ccc;
  cursor: pointer;
  font-size: 25px;
}
.rate-form label:hover {
  color: #ffcc00;
}
.rate-form label:hover ~ label {
  color: #ffcc00;
}
.rate-form input[type=radio]:checked ~ label {
  color: #ffcc00;
}


/*                    チャットボックス                    */
div#chat{
  width: 1200px;
  margin: 0 auto 0px auto;

  position: relative;
/*  background-color: #ddd;*/
}
div#chat::before{
  content: "";
  display: block;
  width: 100%;
  height: 0px;
  position: absolute;
  bottom: 0px;
  left: 0px;
  border-bottom: 1px solid #000;
}

div#chat h5{
  margin: 0 0 0 0;
  font-weight: normal;
  font-size: 1.2rem;
  position: relative;
}
div#chat h5::after{
  content: "";
  display: block;
  width: 100%;
  height: 0px;
  position: absolute;
  bottom: -15px;
  left: 0px;
  border-bottom: 1px solid #a9a9a9;
}

/*                    左チャット                    */
.chat-box{
  margin: 30px 0 0 0;
}

/*                    左チャット                    */
.left-chat{
  display: flex;
  width: 100%;
  min-width: 600px;
  justify-content: flex-start;

  background-color: #eee;
}
.left-chat figure{}
.left-chat figure img{
  border-radius: 50%;
  max-width: 85px;
  max-height: 85px;
}
.balloon1-left{
  position: relative;
  display: inline-block;
  margin: 1.5em 0 0.5em 20px;
  padding: 10px 15px;
  min-width: 120px;
  max-width: 100%;
  color: #555;
  font-size: 16px;
  background: #e0edff;
}
.balloon1-left:before {
  content: "";
  position: absolute;
  top: 50%;
  left: -30px;
  margin-top: -15px;
  border: 15px solid transparent;
  border-right: 15px solid #e0edff;
}

.balloon1-left p{
  margin: 0 0 10px 0;
  padding: 0;
}
.balloon1-left span{
  margin: 0;
  padding: 0;
  font-size: 0.8rem;
}

/*                    右チャット                    */
.right-chat{
  display: flex;
  width: 100%;
  min-width: 600px;
  justify-content: flex-end;
}
.right-chat figure{}
.right-chat figure img{
  border-radius: 50%;
  max-width: 85px;
  max-height: 85px;
}
.balloon1-right{
  position: relative;
  display: inline-block;
  margin: 1.5em 20px 0.5em 0;
  padding: 10px 15px;
  min-width: 120px;
  max-width: 100%;
  color: #555;
  font-size: 16px;
  background: #e0edff;
}
.balloon1-right:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 100%;
  margin-top: -15px;
  border: 15px solid transparent;
  border-left: 15px solid #e0edff;
}

.balloon1-right p{
  margin: 0 0 10px 0;
  padding: 0;
}
.balloon1-right span{
  margin: 0;
  padding: 0;
  font-size: 0.8rem;
}





/*                    関連商品                    */

div#related-box{
  width: 100%;
  margin: 50px auto 200px auto;
  position: relative;
}
/*div#related-box::after{
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  position: absolute;
  top: -50px;
  left: 0px;
  border-bottom: 1px solid #a9a9a9;
}*/

.product_area{
  margin: 0 auto 0 auto;
  width: 1200px;
  position: relative;
}
.product_area h1{
  font-size: 1.2rem;
  font-weight: normal;
  margin: 0 0 20px 13px;
}
.product_area h2{
  font-size: 1.2rem;
  font-weight: normal;
  margin: 0 0 20px 13px;
}
.wrap_product_02{
  display: flex;
  flex-wrap: wrap;/* 考えて改行しましょう */
  /* width: 1100px; */
  width: auto;
  margin: 0 auto 50px auto;
  padding: 0 0 0 0;
}

.wrap_product_02 div.product{
  width: 20%;
  padding: 10px 13px 20px 13px;
}
.wrap_product_02 div.product a{
  text-decoration: none;
  color: #000;

  display: block;
}
.wrap_product_02 .product a figure{
  overflow: hidden;
}
.wrap_product_02 .product a figure img{
  max-width: 100%;
}
.wrap_product_02 .product a p{
  margin: 0 0 9px 0;
  font-size: 0.8rem;
  line-height: 20px;
}
.wrap_product_02 .product a span{
  font-size: 0.8rem;