@charset "utf-8";


body{}

header{
  margin: 10px 0 0 30px;}
header figure{}
header figure img{
  max-width: 200px;
}

main#registration-wrap{
  margin: 70px auto 0 auto;
  width: 500px;
  height: 500px;
}

.registration{}
.registration h1{
  margin: 0 0 50px 0;
  text-align: center;
  font-size: 1.5rem;
  font-weight: normal;
}



.username-box{
  margin: 0 0 30px 0;
}
.eusername-box p{
  margin: 0 0 10px 0;
}
input#username{
  width: 493px;
  line-height: 2.3rem;
}

.email-box{
  margin: 0 0 30px 0;
}
.email-box p{
  margin: 0 0 10px 0;
}
input#email{
  width: 493px;
  line-height: 2.3rem;
}

.password-box{
  margin: 0 0 30px 0;
}
.password-box p{
  margin: 0 0 10px 0;
}
input#password{
  width: 493px;
  line-height: 2.3rem;
}







.new{
  text-align: right;
  margin: 0 0 30px 0;
}
.new a{
  text-decoration: none;
  color: #000;
}

.btn-box{
  text-align: center;
}
input#btn{
  width: 500px;
  height: 38px;
  background-color: red;
  color: #fff;
  font-size: 1.1rem;
  cursor: pointer;
  border: none;
}